[2016-06-06 06:45] pwalsh opened #1 "Server and Docker configuration for OB.eu components"
# Description

All the custom components for OpenBudgets.eu will run out of Fraunhofer servers, while the OpenSpending components are much more generic and run from servers run by Open Knowledge International.

In order to simplify to setup of the ob.eu-specific components, it is proposed to orchestrate them using Docker.
# Tasks
- [ ] Containerise all required components (@pwalsh recommends using

[2016-06-06 06:54] pwalsh opened #2 "Configuration for URI dereferencing"
# Description

We need an example configuration of using a web server (Apache or NGINX) for URI dereferencing. This was mentioned by @jakubklimek in the last meeting.
# Tasks

Provided by @jakubklimek :
- [x] An example config file
- [x] Any description for how it works/should work
- [x] Any links to examples of where this is deployed

Tasks for @mlukasch:
- [x] Setup for obeu making any changes n

[2016-06-06 07:36] pwalsh opened #3 "FDP to RDF Pipeline as a live component"
# Description

As part of the live components for WP4, we need an instance of LinkedPipes running with the ob.eu components, that can:
- Take an FDP payload over HTTP from OpenSpending
- Run it through the RDF transformation pipeline
- Write from the pipeline to the staging triple store
- Write the static result (data serialized as RDF) from the pipeline back to the flat file store for that packag

[2016-06-06 07:42] jakubklimek commented on #3
LP-ETL supports HTTP POSTing of data to pipelines since https://github.com/linkedpipes/etl/commit/4807fb53e1234ccb2850b0af41d64a4dc632eb5d

[2016-06-06 08:57] pwalsh opened #4 "Work towards beta release of Rudolf"
# Description

[Rudolf](https://github.com/openbudgets/rudolf) is a Babbage-API-compataible cubes API, running from a triple store over the OpenBudgets.eu data model.

Rudolf is already a working proof of concept by @larjohn but needs assistance from other WP4 partners to bring to a more stable state.

For specific tasks an issues, @larjohn should help define scope, and they can probably be tracke

[2016-06-06 11:54] schmaluk commented on #1
Hi @pwalsh , have added https://github.com/openbudgets/integration
Are there any CI-Tools which you can recommend for this project? Ainsible (over/or in combination with) Jenkins or alternatively gitlab-ci. If we have selected a CI-tool I can then use it for integrating all components.
It is not an urgent matter: But if Jenkins is ok, Jenkins can be made accessible via ssh Tunneling or alternative

[2016-06-06 11:56] pwalsh commented on #1
@mlukasch I do not see any point in setting up our own Jenkins server, when we can use [Travis](https://travis-ci.org) for free, and have less headaches. At @okfn we use it extensively.

[2016-06-06 11:58] pwalsh commented on #1
@mlukasch also: why do we need to use GitLab?

[2016-06-06 12:16] schmaluk commented on #1
@pwalsh if all of our components will be open-source, then github & travis will be fine. gitlab has a CI-tool: gitlab-ci which works only in conjunction with gitlab. Gitlab can be Setup in way that it mirrors the github-repo. gitlab-ci would be an alternative to Jenkins.

[2016-06-06 12:36] pwalsh commented on #1
I'm very familiar with GitLab and GitLab-CI.

What is the value you are providing by dealing with them now? We have so many _actual_ moving components we need to setup in the OB.eu stack, all of which will work with existing, free, web-based tools for code hosting and CI.

Of course, you are free to choose to work on that, but I'm not convinced it is the right effort at this stage: see the list ab

[2016-06-10 12:46] jakubklimek commented on #2
An example from a server with hostname `internal.opendata.cz` running [Apache Jena Fuseki](https://jena.apache.org/documentation/serving_data/) on port `3030`, with data loaded into the `test` dataset - Fuseki can run multiple datasets/databases at once:

Step by step:
We want to get an RDF representation of an entity identified by the IRI `http://internal.opendata.cz/fuseki/test`

`http://localho

[2016-06-11 10:03] pwalsh commented on #2
Thanks @jakubklimek !

@mlukasch this should be all the info you need to get this setup.

[2016-06-13 14:08] schmaluk commented on #2
@jakubklimek @pwalsh Hope that it is solved.
Added this to the nginx.conf (in the master-branch of the integration-repo here on OBEU).
`# 3-store staging:
        location ~ /fuseki/(.+) {
            # resolver needs to be adapted:
            resolver 127.0.0.11;
            proxy_pass http://triple_store_staging:3030/fuseki/query?query=DESCRIBE%20<$scheme://triple_store_staging:3030/fuseki/$1>;

[2016-06-13 14:53] schmaluk commented on #1
@pwalsh, by "access control for triple stores, linked pipes" do you mean mainly restricting the access to specific ip-addresses? LinkedPipes has also a frontend which is used by @fathoni .Currently he uses ssh for accessing the frontend which could be replaced by https and Basic Auth. Would it be okay & make sense to spend some time on enabling https and serving the Frontend of LinkedPipes via htt

[2016-06-14 11:45] pwalsh commented on #3
@HimmelStein are you making progress with the pipeline, in tandem with Marek?

[2016-06-14 12:12] larjohn commented on #4
A good idea would be to start with the actual babbage tests. I can try converting the test dataset in RDF, using LinkedPipes and then reproduce the original babbage tests in the way Laravel specifies here: https://laravel.com/docs/5.2/testing

[2016-06-14 20:45] HimmelStein commented on #3
Hi @pwalsh, Marek said he will finish the first version, and show us the documentation, then proceed together with some difficult issues. This shall happen in the coming weeks.

[2016-06-15 06:38] jakubklimek commented on #2
Actually, this would mean that all the URIs (of RDF entities) look like `http://triple_store_staging:3030/fuseki/$1`  because that is passed to the SPARQL query. However, we would like the URIs to be something like `http://data.openbudgets.eu/resource/...` and `http://data.openbudgets.eu/ontology/...`

Testing of URI dereferencing outside of production environment can be a bit challenging due to t

[2016-06-17 13:29] schmaluk commented on #2
Since http://eis-openbudgets.iais.fraunhofer.de is our public server for the time being, the following rewrite rules have been added to nginx.conf:
 `location ~ ^/resource/(.+)$ {
    proxy_pass http://triple_store_staging:3030/fuseki/query?query=DESCRIBE%20<http://eis-openbudgets.iais.fraunhofer.de/resource/$1>;
}`

`location ~ ^/ontology/(.+)$ {
    proxy_pass http://triple_store_staging:3030/fu

[2016-06-17 13:38] jakubklimek commented on #2
The problem here is that we have no actual data which would use `http://eis-openbudgets.iais.fraunhofer.de/ontology/$1` in its IRIs. We should therefore establish that `http://data.openbudgets.eu` forwards to (for the time being) `http://eis-openbudgets.iais.fraunhofer.de`, update the rewrites and load some actual data to test.

[2016-06-17 14:35] pwalsh commented on #2
I can CNAME data.openbudgets.eu to whatever address we need. Maik, please confirm.

[2016-06-17 15:00] schmaluk commented on #2
Hi Paul, thanks for the offer.
Will message you if we Need this. Not sure yet.

[2016-06-17 15:09] jakubklimek commented on #2
Yes, this is definitely something we want :-) that is actually the whole point as this is to ensure public access, not only access through ssh tunelling and /etc/hosts.

[2016-06-17 15:25] mlukasch commented on #2
Then it would be good, if @pwalsh can Setup CNAME like this: data.openbudgets.eu  = eis-openbudgets.iais.fraunhofer.de

[2016-06-17 15:47] schmaluk commented on #2
@pwalsh since it makes sense for @jakubklimek, can you please then set CNAME for:
data.openbudgets.eu = eis-openbudgets.iais.fraunhofer.de
Thanks

[2016-06-18 08:34] pwalsh commented on #2
@mlukasch CNAME is now in place.

[2016-06-20 05:31] pwalsh commented on #3
Documentation from Marek: https://docs.google.com/document/d/1TaXsob1R0DRlrEl_k3oAYhZE4cVxnarkmv-rdWbhstc/edit#

[2016-06-20 05:34] pwalsh commented on #3
@HimmelStein ( @badmotor ) now that Marek has documented the pipeline, I think it is over to you now to lead on this, on the following angles:
- Work on the mapping of FDP to RDF (as you discussed in plenary)
- Document issues, points for fixing, refactoring and so on
- Run some live tests against the OS datastore (requires @mlukasch to get this pipeline live in the Fraunhofer environ)

If that as

[2016-06-20 07:48] HimmelStein commented on #3
sure, i work on this.

[2016-06-20 08:55] HimmelStein commented on #3
@pwalsh i added comments to all "discussion might be needed (red with yellow background)" parts in the document.

[2016-06-21 15:56] schmaluk commented on #2
@jakubklimek Will set this task as done hopefully in agreement with you

[2016-06-21 16:40] schmaluk commented on #1
Currently deployed & containerized:
- Rudolf (not yet connected to the triplestore on the server)
- Production Triplestore
- Staging Triplestore
- nginx as reverse proxy
- linkedpipes.

Everything on the public server.
We have 2 servers. 1 publicly accessible and 1 internal one.
Currently I have installed all components (especially both of the triplestores)  just on the public server. Can leave it

[2016-06-22 09:25] pwalsh commented on #1
@mlukasch I suggest you connect directly with the various people involved with the components you are missing, to built a timeline.deployment plan for integrating those.

[2016-06-29 13:36] schmaluk commented on #3
LinkedPipes outputs to the triplestore now and our server has exposed the endpoint. We need to test the transformation further though with some more test data.
@akariv regarding the hook, have send you the endpoint in a mail, let me know, if something needs to be adpated or discussed. The request to this endpoint should be basically built up as described by Marek: https://github.com/openbudgets/pi

[2016-07-01 09:27] HimmelStein commented on #3
@pwalsh  @akariv @jakubklimek @jindrichmynarz @badmotor  we run the curl command using the sample provided by Marek. it works. this means: the FDP2RDF pipleline (at the Fraunhofer server) accepted the sample datapackage.jsonld, transformed the related FDP into RDF, and pushed the results in the Fuseki triple store -- we found them using SPARQL query. To test how well current pipeline works for any

[2016-07-01 09:41] jindrichmynarz commented on #3
Based on a discussion with @pwalsh, the `@context` IRI should be `http://schemas.frictionlessdata.io/fiscal-data-package.jsonld` (see [here](https://github.com/openbudgets/pipeline-fragments/tree/master/FDPtoRDF#input)).

[2016-07-01 09:41] HimmelStein commented on #3
@akariv @pwalsh here are some feedback about the OS wizard:
(1) the sample csv which I used is a tiny part of the ESIF-2014 file. This csv file does not have a column for date. a necessary condition to move to Step 3 is: at least one column should be mapped to 'date'. I have to manually add a date column, and repeat the steps again.
(2) the Date-->Other Date must have the format '%Y-%m-%d', howeve

[2016-07-01 09:58] HimmelStein commented on #3
@jindrichmynarz thanks for the quick response. I test again.

[2016-07-01 10:01] pwalsh commented on #3
@HimmelStein don't open packager bugs here, they will get lost. Open them on the openspending issue tracker where the team can prioritize.

[2016-07-04 09:46] HimmelStein commented on #3
@pwalsh @jindrichmynarz @jakubklimek @mlukasch @badmotor
current testing results: (1) the FDP2RDF pipeline provided by Marek works along with the attached datapackage.jsonld. (2) it also works, if we change the "path" value, e.g. from "http://protegeserver.cz/" to "http://wenxion.net/pub/". (3) however, if we change the @context value from "http://test.openbudgets.eu/ontology/fdp#" into "http://sc

[2016-07-04 11:17] akariv commented on #3
@HimmelStein @jakubklimek @pwalsh @mlukasch
Please note issue openbudgets/pipeline-fragments#5 - we must have an option to upload the datapackage.json as a URL and not verbatim.

[2016-07-04 14:28] HimmelStein commented on #3
@marek-dudas  @pwalsh @jindrichmynarz @jakubklimek @mlukasch @badmotor
the @context "http://schemas.frictionlessdata.io/fiscal-data-package#" works for the Pipeline version 0.2.5, but not 0.2.3.

[2016-07-05 14:15] schmaluk commented on #1
@pwalsh @akariv Im trying to connect the OS-Viewer now to a working Rudolf on our OBEU-server.
Rudolf is exposed on http://eis-openbudgets.iais.fraunhofer.de/api/3/cubes
Im using this image: openspending/os-viewer
And this environment variables in docker-compose.yml-file:
            - WORKDIR=app
            - PORT=8000
            # For dev:
            - OS_EXTERNAL_ADDRESS=http://localhost

[2016-07-06 12:26] larjohn commented on #1
In OS Viewer's app/config/index.js, you can set

const DEFAULT_HOST = 'http://eis-openbudgets.iais.fraunhofer.de';

This should suffice.

[2016-07-06 18:39] HimmelStein opened #5 "FDP2RDF pipeline for any FDP datapackage"
After the FDP2RDF pipeline (v.0.2.5) is successfully imported into the Linkedpipes, we are moving on to develop a general FDP2RDF pipeline. To ease the development of this general pipeline, we follow three steps.

(1) step one: using FDP datapackage created by the current Openspending wizard as the input to the current FDP2RDF pipeline, check results (we should see problems, as in current pipeline

[2016-07-07 07:48] schmaluk opened #6 "Transferring data between triplestores (staging -> production)"
Once the fdp-data has been transformed and uploaded to the staging triplestore, the data in the staging triplestore Need to be possibly enhanced/modified and afterwards transferred to the production triplestore.

**Please extend the Pipeline in LinkedPipes in order to Transfer the data from the staging triplestore to the production triplestore**.

If you have alternative suggestions how to get the

[2016-07-07 07:54] schmaluk opened #7 "Saving the transformed RDF-datasets to the filesystem"
After the fdp-data has been transformed to the rdf-format, we need to **store the converted rdf-datasets somewhere on the filesystem** on the Server.

Please extend the Pipeline to store the data after Transformation on the filesystem.
(@mlukasch will do the configuration: filesystem Location, etc.)

[2016-07-07 07:54] marek-dudas commented on #5
A few comments:
- the current FDP2RDF pipeline was developed as a general FDP2RDF pipeline, that should be able to transform any FDP package (following FDP specification) to OBEU RDF datamodel
- there might be some OS types that are not covered by FDP specification, which are thus transformed just to general DCV dimension properties and are not mapped to possible OBEU properties with the same mean

[2016-07-07 08:06] schmaluk opened #8 "Uploading the converted rdf-datasets to the OS-filestorage"
Once the fdp-datasets have been transformed to rdf and saved somewhere on the Server (https://github.com/openbudgets/platform/issues/7), we need to **upload the rdf-datasets to the OS-filestorage.**

Therefore we Need an **API in OpenSpending for uploading datasets** to their filestorage, which can be integrated into the Pipeline as well.

Lets discuss here, which of their existing APIs is suitabl

[2016-07-07 08:09] pwalsh commented on #8
@mlukasch

First we need to understand exactly what we are uploading. As discussed in tech call yesterday, I though we were uploading the whole dataset as RDF. @jindrichmynarz made comments that indicate I may be wrong, and that we only need metadata, which will point to a uri for the data (presumably, via the http proxy you have configured on nginx). If indeed it is just metadata, then I suggest

[2016-07-07 08:22] HimmelStein commented on #5
@marek-dudas thanks for the feedback. Let us run some concrete examples on the pipeline first. Based results, we will figure out the most efficient (also simple) solution. Some of the hard parts (you mention) can be addressed afterwards. e.g. using different pipelines, instead solving all hard tasks in one pipeline.

[2016-07-07 09:11] jindrichmynarz commented on #6
Here's my thinking out loud.

I think the synchronization pipeline would mostly require changes in our workflow when producing data instead of changes in LP-ETL.

The main question to answer when implementing the synchronization pipeline is what data should be synchronized. This includes the decisions if we should push only a subset of data to the production RDF store and how to determine which da

[2016-07-07 09:33] jindrichmynarz commented on #8
What we at UEP have been doing is upload data dumps to a file system using [l-filesToScp](https://github.com/linkedpipes/etl/tree/master/plugins/l-filesToScp). The part of the file system we push the dumps to is exposed via an HTTP server, which gives us a URL for each dump. We refer to these URLs in metadata generated by [e-distributionMetadata](https://github.com/linkedpipes/etl/tree/master/plug

[2016-07-07 09:46] HimmelStein commented on #5
@marek-dudas @mlukasch we run the pipeline (v0.2.6) with the ESIF sample dataset https://github.com/openbudgets/pipeline-fragments/blob/master/FDPtoRDF/test/test1/datapackage.jsonld , which contains three amount columns (EU amount, national amount, and total amount). The RDF results can be seen at the Fuseki server.
The pipeline treats the original csv files as three tables, each has one of the th

[2016-07-07 11:32] schmaluk commented on #1
Thanks @larjohn for the help. It is deployed now with that change:
http://eis-openbudgets.iais.fraunhofer.de/viewer/
Though Im not sure, how to access visual components backed by Rudolf in order to verify.

[2016-07-07 12:02] pwalsh commented on #1
@mlukasch @larjohn looks like the datapackage is pulled from openspending, not from the triple store api ( http://eis-openbudgets.iais.fraunhofer.de/viewer/ )

[2016-07-07 12:27] jindrichmynarz commented on #7
I think this can be easily resolved by as an issue at [openbudgets/pipeline-fragments](https://github.com/openbudgets/pipeline-fragments) by @marek-dudas together with the other issues. It should suffice to extend the FDP2RDF pipeline with [l-filesToScp](https://github.com/linkedpipes/etl/tree/master/plugins/l-filesToScp) that loads the RDF dump of the pipeline's result to a specified location on

[2016-07-07 12:48] schmaluk commented on #1
@pwalsh @larjohn  my fault. Had still the os-viewer-image in the compose.yml...
Now Im getting a 404 for GET http://eis-openbudgets.iais.fraunhofer.de/permit/lib on http://eis-openbudgets.iais.fraunhofer.de/viewer/
This /permit/lib is the os-conductor-app which is not hosted by our server.

[2016-07-07 12:51] pwalsh commented on #1
@mlukasch
- https://github.com/openspending/os-viewer/blob/master/app/config/index.js#L14
- https://github.com/openspending/os-viewer/blob/master/app/config/index.js#L34

( right @akariv ? )

[2016-07-07 12:56] akariv commented on #1
Yes, `/permit/lib` is the authentication library which allows logging-in to
the server.
You could use the one hosted on next.openspending.org (so that it loads
successfully) using the pointers that @pwalsh gave, although it may not be
enough to allow logging in in your setup.

On Thu, 7 Jul 2016 at 15:51 Paul Walsh notifications@github.com wrote:

[2016-07-07 13:22] schmaluk commented on #1
@akariv @pwalsh Bit better now. So I have changed:
            - OS_VIEWER_AUTH_HOST=http://next.openspending.org
            - OS_VIEWER_SEARCH_HOST=http://next.openspending.org
and the Default_host is:  http://eis-openbudgets.iais.fraunhofer.de
with this result:
http://eis-openbudgets.iais.fraunhofer.de/viewer/
So the search for datasets is done on OS-side by the conductor, since there is no sea

[2016-07-07 13:34] larjohn commented on #1
There is a route in rudolf for searching. I am not saying it currently does anything that useful, still it should populate the dropdown correctly:

Route::get("search/package", "SearchController@index" );

This is what I see in my own config for the search endpoint:

[code]

where searchHost is:

`var searchHost = process.env.OS_VIEWER_SEARCH_HOST || DEFAULT_HOST;
`
which in turn should lead back

[2016-07-07 14:16] schmaluk commented on #8
Beside the datamining Im not aware so far of any application in the OBEU stack consuming rdf data outside the triplestores. If this is the case, it is maybe the best to include the datamining ppl to the discussion. And they can decide which Solution fits best for them and their applications.

[2016-07-07 14:35] jindrichmynarz commented on #8
I agree that the decision should be based on the input of the data consumers.

I think simplest solution might be to publicly expose the data dumps via HTTP. The consumers can then use any HTTP client to obtain the data they need, without needing to use a special library. At the moment I don't see any reason not to expose the data publicly, so this solution might be fine.

[2016-07-07 17:17] schmaluk commented on #8
If there is no demand for another solution, I would actually prefer pushing the dumps to the OS Datastore or somewhere else in the cloud, since this seems to me more like a Long-term solution. Storage on the Server@Fhg will always be limited (atm 1 TB) and wont scale automatically.

[2016-07-07 17:29] jindrichmynarz commented on #8
Sure, that is also an option. Perhaps we can discuss this in the next tech call so that our internal consumers (@propi, @vojir, @jaroslav-kuchar et al.) of the OpenBudgets.eu data can have their say.

[2016-07-08 07:54] HimmelStein commented on #5
@marek-dudas  @mlukasch with regards to the testing and evaluation of the FDP2RDF pipeline, it would be helpful to connect it to the pipeline developed for data inconsistency checking (D2.2), before push to Fuseki triple store. That is, the consistency of RDF will be checked by that pipeline before push to Fuseki triple.

[2016-07-08 08:26] marek-dudas commented on #5
Regarding the multiple measures issue, I have created a [separate issue](https://github.com/openbudgets/pipeline-fragments/issues/7) for that in the pipeline-fragments repository. I think that it is better to post such issues directly there, so we won't lose track of them. I should be able to fix the issue soon.

Regarding data inconsistency checking pipeline, we are using it to test the FDP2RDF p

[2016-07-08 16:38] schmaluk commented on #6
Assuming that it is still valid to have 2 separate triplestores, since otherwise having just 1 would be easier to deal with.
@jindrichmynarz @marek-dudas @jakubklimek  Would someone of UEP provide me such a synchronisation between the triplestores, which I can then integrate? Can also establish a regular triggering of sthg running as a cronjob, if needed.

[2016-07-08 16:41] schmaluk commented on #7
Sounds great. @marek-dudas can you please integrate this in the pipeline when you have time for this. Will do the config as described. Thanks a lot.

[2016-07-08 21:22] jindrichmynarz commented on #6
Sure, having two separate triple stores is valid. However, as I indicated in my comment, the synchronization is non-trivial. It would be great to hear from @jakubklimek on this topic.

[2016-07-10 19:15] HimmelStein commented on #5
@marek-dudas @jindrichmynarz  @akariv @badmotor it is great that the FDP2RDF pipeline is easy for maintenance. What we mainly concerned in Thessaloniki was mainly on this issue. It would be great that you can describe how to maintain/extend the pipeline in the document.

[2016-07-11 07:13] marek-dudas commented on #7
Sure. Just one question: if the goal is to store the data on the same server where LinkedPipes are running, it might be easier to just use [l-filestolocal](http://etl.linkedpipes.com/components/l-filestolocal) component, which needs just the filepath as configuration. But then the user running LinkedPipes would have to have write access to the destination folder. Maybe I can add both I-filestoloca

[2016-07-11 07:20] pwalsh commented on #7
keep in mind that linkedpipes is running here in a docker container, so if a local filestore is being used, steps need to be taken to ensure it is persistent.

[2016-07-11 07:27] jakubklimek commented on #6
Instead of going into the technical details, which can always be sorted out and do not concern most of the partners (we have a similar setup with staging and production triplestores and "publication" pipelines internally), I think we should instead address the issue of the intended data workflow. The purpose of the staging triplestore is to provide a place where data can be processed before public

[2016-07-11 07:30] jindrichmynarz commented on #6
Yes, we discussed the need for filtering data in the last tech call. However, we agreed to start with simply pushing everything and then progressively improve the synchronization.

[2016-07-11 07:36] jakubklimek commented on #7
I would advise against using the local storage components in production environment. They are meant mainly for debugging on local developer machines as they unnecessarily tie the storage to the same server as the LP-ETL is running on, which may change later. Using remote storage is a much better option.

[2016-07-11 07:40] jakubklimek commented on #6
If no manual steps are to be done now, it is just about cloning the Fuseki instance. This can be done outside of LP-ETL (and it is also the fastest way) by simply copying the Fuseki files once in a while.

[2016-07-11 07:47] jindrichmynarz commented on #6
So you would suggest to implement this as a cron-job that stops the production instance of Fuseki, deletes its database files, SCPs the database files of the staging instance in place, and restarts the production instance? Are the Fuseki database files transferable between servers?

[2016-07-11 08:01] jakubklimek commented on #6
Seems to me as the easiest thing to do if we want a 1:1 copy. The files are transferable like this, if the configuration is similar.

[2016-07-11 08:06] jindrichmynarz commented on #6
Looking at the [Docker configuration for Fuseki](https://github.com/openbudgets/integration/tree/master/docker-config/fuseki) it seems we use a single configuration file for Fuseki. @mlukasch, can you create the cron-job discussed above?

[2016-07-11 08:12] marek-dudas commented on #7
Ok, I added the I-filesToScp component to the pipeline, it is now on github together with updated documentation.

[2016-07-11 08:17] schmaluk commented on #6
Yes I think I can do this.

[2016-07-11 08:24] HimmelStein opened #9 "Graph naming issue"
@marek-dudas @jindrichmynarz @jakubklimek @mlukasch   consider the following case.
there is a rdf dataset for city X0 of year Y0, and stored as a named graph at Fuseki server, the graph name is something like http://.../X0Y0.
the rdf dataset for city X0 of year Y1, and stored as a named graph at Fuseki server, the graph name is something like http://.../X0Y1.

It should happen that within the two

[2016-07-11 08:34] jindrichmynarz commented on #9
I don't see this as a problem. We specify the IRI pattern for named graphs as `http://data.openbudgets.eu/resource/dataset/{dataset ID}`. In case of FDP2RDF pipeline, the dataset ID is derived from the OpenSpending ID. If I recall correctly, OpenSpending uploader enforces unique IDs, which in turn makes the named graph IRIs unique. If there is a dataset that is ingested using custom ETL process, t

[2016-07-11 08:35] jakubklimek commented on #9
Could you be more specific and provide examples? I don't see the issue.
Also when do you think this would become the issue? When creating the data or when consuming it?

[2016-07-11 08:37] marek-dudas commented on #9
I was writing a comment which is now probably irrelevant considering @jindrichmynarz reply. But here it is anyway:

_From the FDP2RDF pipeline point of view, a simple solution would be adding a timestamp at the end of the graph and dataset names. It would make the result a little bit less user friendly. However, in this particular case described above, I think there would be actually no conflict i

[2016-07-11 09:31] HimmelStein commented on #9
@jakubklimek when consuming data (as Marek described, if conflict exists)
@jindrichmynarz @akariv @mlukasch  where can we find unique IDs from OpenSpending uploader? it should be within the datapackage.json. here is a real sample datapackage.json generated by OS wizard https://github.com/openbudgets/pipeline-fragments/blob/master/FDPtoRDF/test/test1/datapackage.jsonld

[2016-07-11 09:34] jindrichmynarz commented on #9
The dataset ID is in the `name` attribute (see [here](http://fiscal.dataprotocols.org/spec/#package-metadata)).

[2016-07-11 13:07] HimmelStein commented on #9
"If there is a dataset that is ingested using custom ETL process, then the choice of the dataset ID is up to the ETL developer, who must pick a unique ID. " -- that is the issue:
How can an ETL developer know that she/he picks a unique ID or not? it can happen that the developer should use a unique ID, but neglected; it can also happen that the developer just uses an existing ID to update values.

[2016-07-11 13:10] jakubklimek commented on #9
In that case the developer is from the OBEU project and I believe we can keep track of used IDs as they usually correspond to the folders in https://github.com/openbudgets/datasets

[2016-07-11 13:34] jindrichmynarz commented on #9
Once the dereferencing (#2) is setup (note: currently not working), the ETL developer can dereference a IRI (e.g., `http://data.openbudgets.eu/resource/dataset/budget-of-the-european-union-2014`) to see whether is is already used.

A slightly more involved test would be to query the SPARQL endpoint. For example, if the following returns `true`, then the IRI `http://data.openbudgets.eu/resource/dat

[2016-07-11 15:52] HimmelStein commented on #9
@jindrichmynarz these are definitely effective methods.  As ETL pipelines are manually designed, point here is that not to forget to check uniqueness (when needed).   but, ETL developers are also humans, they may forget....
@marek-dudas was your comment above written for the case I described above, or copied here from other place?

[2016-07-11 16:07] jindrichmynarz commented on #9
I see your point. Perhaps we can agree on a process of pushing data into the OpenBudgets.eu platform. For example, each pipeline would have to end with HTTP POST containing the resulting data to a "clearance" pipeline that could perform some safety checks, such as testing whether the dataset IRI is unique or whether the DCV integrity constraints are satisfied. This way we can offload some of the b

[2016-07-11 19:11] HimmelStein commented on #9
that is a nice solution! That is, @mlukasch pipeline fragments developed at Task 2.2 shall also be imported to the Linkedpipe ETL at the fraunhofer server.
Can we close this issue here, and open another issues for 'clearance' pipelines and integration (if necessary)?

[2016-07-11 19:56] marek-dudas commented on #9
@HimmelStein my previous comment was written for the case you described above.

[2016-07-11 20:27] jindrichmynarz commented on #9
@HimmelStein You are the author of the issue, so you decide if it should be closed.

[2016-07-11 22:38] HimmelStein commented on #9
let us close the issue. thanks for the quick and fruitful responses!

[2016-07-11 22:38] #9 closed, assigned to nobody

[2016-07-12 06:22] HimmelStein commented on #5
@marek-dudas  have you tested Version 0.3.1 at the Fraunhofer server? at the last stage 'File to SCP' reported Cann't connect to host. @mlukasch have you encountered similar problem?
I checked /srv2/obeu/integration/volumes/linkedpipes/data/lp/etl/working/data/.., RDF triples were generated.

[2016-07-12 07:37] marek-dudas commented on #5
The File to SCP has to be configured (hostname, username, password) according to the Fraunhofer server settings, which I do not know. I suppose @mlukasch just haven't done that yet?

[2016-07-12 07:46] schmaluk commented on #5
Sorry, some Firewall issue. Am working on that.

[2016-07-12 09:24] schmaluk commented on #5
Should be fixed. Files get stored /srv2/lpdata

[2016-07-12 14:30] larjohn opened #10 "Fuseki querying blank nodes"
I am trying to submit this simple query in Fuseki:

[code]

This query returns zero results. While, on the other hand, this query:

`describe <http://data.openbudgets.eu/ontology/dsd/budget-thessaloniki-expenditure-2011>`

returns (some prefixes omitted):

[code]

I am suspecting that this is due to the blank nodes in the data structure definition, as this seems to work fine in OpenVirtuoso. This

[2016-07-12 14:35] jakubklimek commented on #10
This seems to be related to the `tdb:unionDefaultGraph` setting. @mlukasch What is the status of this one?

[2016-07-12 14:42] schmaluk commented on #10
I had adapted the config-file for fuseki: https://github.com/openbudgets/integration/blob/master/docker-config/fuseki/config.ttl
But not deleted the whole fuseki-datastore afterwards. Im not sure, if a complete creation from scratch is necessary for Fuseki in order to enable the tdb:unionDefaultGraph or if it can activate this on an existing triplestore.
But I can completely delete/destroy the tri

[2016-07-12 15:56] schmaluk commented on #10
Hi, maybe I had misunderstood the doc:
"An assembler can specify that the default graph for query is the union of the named Graphs."
https://jena.apache.org/documentation/tdb/assembler.html

So if there is no named graph specified in the query, all named Graphs are queried **but without the Default graph.** That it is at least my Interpretation of it.

Meaning: If I upload the data in a named grap

[2016-07-12 16:36] schmaluk commented on #10
@larjohn Should be solved now.
As a best practice for me/us in general: One should never upload any data to the Default graph.
Added a named graph test where the Thess data is in.

[2016-07-13 09:14] schmaluk opened #11 "Module 'authClient.services' is not available in OS-viewer"
Receiving an error from the OS-Viewer on the OBEU-Server.
http://eis-openbudgets.iais.fraunhofer.de/viewer/
Maybe due to some misconfiguration on my side.
Have defined this Environment variable:
OS_VIEWER_AUTH_HOST=http://next.openspending.org

Error: [$injector:modulerr] Failed to instantiate module Application due to:
[$injector:modulerr] Failed to instantiate module authClient.services due to:

[2016-07-13 10:40] akariv commented on #11
This code comes from the library at http://next.openspending.org/user/lib

Adan

On Wed, 13 Jul 2016 at 12:14 mlukasch notifications@github.com wrote:

[2016-07-13 12:21] pwalsh commented on #5
@akariv do you have what you need to push data from OS to this web service?

[2016-07-13 13:45] schmaluk commented on #8
Hi everyone, as discussed in the today's Meeting, FDP-files hitting the endpoint at http://eis-openbudgets.iais.fraunhofer.de/linkedpipes/execute/fdp2rdf, getting transformed & their dump are exposed here: http://eis-openbudgets.iais.fraunhofer.de/dumps/

[2016-07-13 13:45] #8 closed, assigned to akariv, jakubklimek, pwalsh, HimmelStein, marek-dudas, schmaluk

[2016-07-13 13:47] #10 closed, assigned to nobody

[2016-07-13 13:48] schmaluk commented on #7
Thanks for the help. The pipeline is added & configured on the Server.

[2016-07-13 13:48] #7 closed, assigned to jakubklimek, HimmelStein, marek-dudas, schmaluk

[2016-07-13 14:09] schmaluk commented on #11
Thanks @akariv, I have updated the os-viewer to the latest commit in the master. But the error remains the same: http://eis-openbudgets.iais.fraunhofer.de/viewer/
Will investigate as well.

[2016-07-13 19:11] HimmelStein commented on #5
@marek-dudas FDP2RDF v0.3.1 run with success at the Fraunhofer server. Its RDF output is also pushed to Fuseki triple-store. The test datapackage.jsonld is https://github.com/openbudgets/pipeline-fragments/blob/master/FDPtoRDF/test/test1/datapackage.jsonld
The multiple measures are represented correctly.
I fail to find the date value "2014", which should be the value of _:b11
_b:12, _b:13, _b:14 o

[2016-07-14 11:51] HimmelStein opened #12 "RDF quality checking before being pushed into Fuseki server"
@jindrichmynarz @jakubklimek @marek-dudas @akariv @mlukasch @larjohn @badmotor as we discussed at https://github.com/openbudgets/platform/issues/9#issuecomment-231854081, there will be RDF qualify checking pipelines at Fraunhofer server, to guarantee the quality of the RDF dataset. As suggested by Jindrich: "each pipeline would have to end with HTTP POST containing the resulting data to a "clearan

[2016-07-14 12:03] jakubklimek commented on #12
Actually, this is why we distinguish staging and production triplestore - all pipelines should output their data to the staging triplestore, where such quality checks can be performed by independent pipelines and datasets passing the checks can then be pushed to the production triplestore. The HTTP post is only meant for the OS data push process.

As to the comment in the other thread about develo

[2016-07-14 12:03] jindrichmynarz commented on #12
Since LP-ETL doesn't support named graphs, we'd need to enforce another convention: named graph IRI is the same as the IRI of the `qb:DataSet` instance. Otherwise, ETL pipelines would have to push the named graph IRI besides the actual data.

[2016-07-14 12:05] jindrichmynarz commented on #12
@jakubklimek: How would you trigger the quality checking pipeline if not via the HTTP POST component?

[2016-07-14 12:12] jakubklimek commented on #12
Yes, it should be either the same, or deducible from it. Similar rules should go i.e. for metadata "/metadata" and possibly even component property definitions "/vocabulary".

As to the triggering, this does not have to be automatically triggered immediately after the pipeline finishes. Either the developer wants to do the check immediately and therefore can run the pipeline, or not and then such

[2016-07-14 12:19] jindrichmynarz commented on #12
Manual execution of the clearance pipeline requires its reconfiguration. Its input needs to be changed. So the clearance pipeline fragment must be imported and reconfigured. Since it requires this manual effort, it removes some of the benefits of automation. Moreover, the clearance pipeline can be the same for all datasets, but this approach would require having multiple copies of it.

Scheduling

[2016-07-14 12:39] jakubklimek commented on #12
Sure, but it means changing 1 IRI in the local copy of such pipeline, which is, in comparison to the effort invested in creating the pipeline, negligible.

You can have one and reconfigure it for individual checks.

This is by design. Pipelines can be run using HTTP API, therefore, the scheduling agenda can be left to existing sophisticated schedulers outside of LP-ETL e.g. cron.

I think all the

[2016-07-14 12:47] jindrichmynarz commented on #12
What would this IRI point to? Dump of the dataset? The clearance needs more, including DSD and code lists.

Sure, but then you will have the problems of mutable data. If there are two ETL developers modifying a single pipeline, conflicts can arise.

I see.

It does not matter whether the changes were intentional or unintentional. All changed datasets should be checked. However, checking all datase

[2016-07-14 13:06] jakubklimek commented on #12
It would contain the dataset IRI, all other IRIs should be deducible. Originally, I thought these checks would be performed by the pipeline that would move a dataset from the staging to the production triplestore, so it would have all the info it needs. Is there any timeline for this since we just decided that staging = production for now and therefore this approach is not applicable? I think havi

[2016-07-14 13:31] jindrichmynarz commented on #12
This may be true for the metadata graph, but not for code lists. We can also think about adhering to the linked data approach and dereference all data needed for clearance. However, if we do the clearance before pushing to production, the IRIs will not be dereferenceable, so some IRI rewriting would have to be invented, which would further complicate things.

Yes, that would be ideal. However, sin

[2016-07-14 13:38] jakubklimek commented on #12
True. But then this can be parsed from the DSD (qb:codeList object + deduction), right?

Yeah, too complicated.

Yes, I was thinking about the errors caused directly or by new faulty pipelines (e.g. by merging incorrect graph etc.) rather than by accidental run of an older pipeline.

So I think the question is what exactly is needed and when as there are many "nice to have" things that are not rea

[2016-07-14 13:50] jindrichmynarz commented on #12
Yes, but dereferencing the extracted IRIs might not work, as described above.

[2016-07-14 14:00] HimmelStein commented on #12
Thanks for the active feedback for the case (2) RDF datasets developed by ETL developers. Let us simplify it -- general propose quality checking of RDF dataset is 'nice to have', but will cost too much efforts to develop. The existing quality checking pipelines shall be configured before applying, so it is a task for individual ETL developers. Then, I will continue to spend efforts to manually che

[2016-07-14 20:07] HimmelStein commented on #3
@akariv the FDP2RDF pipeline has reached to version 0.3.1, and a newer version will come soon. For the new version we would like to test it by sending datapackage.jsonld from http://next.openspending.org/packager/provide-data
It would be very helpful, if you could realize the test in the coming days.

[2016-07-15 16:56] schmaluk commented on #6
Should be done but not yet deployed. Atm every 15 minutes data is synced 1:1 from staging to production. Whatever is in production will be overwritten by staging. Syncing also includes restart of fuseki production.

[2016-07-15 17:35] HimmelStein commented on #6
It would be good that we first settle down the difference between staging and production.

In yesterday's discussion, there are two differences between staging and production: (1) staging is used for testing -- ETL developers first transfer RDF graphs into staging and testing (including quality testing). When everything goes well, then these RDF graphs will be transferred into production. (2) stag

[2016-07-16 15:21] jindrichmynarz commented on #6
@mlukasch, how long does the syncing take? How much data, in terms of RDF triples, does it currently sync? I think syncing every 15 minutes may be too frequent.

@HimmelStein, I think we agreed that we want to achieve (1), but we start with (2) for the simplicity's sake, and then gradually build the synchronization towards (1).

[2016-07-16 16:14] HimmelStein commented on #6
@jindrichmynarz Let us discuss this issue concretely. (init) both staging and production are empty; (one day) staging has one graph, containing inconsistency, while production is empty; (next day) production is synchronized, containing the same graph as the staging; (third day) the inconsistency in the staging is corrected, and new graphs with inconsistency are added; (fourth day) production is sy

[2016-07-16 16:30] jindrichmynarz commented on #6
I think we can simply say that with the current solution of synchronization the data in the staging and production environments becomes eventually (in 15 minutes) the same. If there is inconsistent data, both staging and production environment have it.

If we want to improve this way of synchronization, we should first answer what data is pushed to production and then we can discuss how to impleme

[2016-07-19 09:53] schmaluk commented on #11
@akariv Trying to debug: http://eis-openbudgets.iais.fraunhofer.de/viewer/ in my browser console. Would need a bit of help here. Would that mean that I need to host the library at http://next.openspending.org/user/lib on our server?
I see in the brwoser console that a GET-request goes to http://next.openspending.org/permit/lib instead of /user/lib.
And the /permit/lib returns 302.
Maybe that is th

[2016-07-19 11:59] schmaluk commented on #11
Ok, found the error. Somehow in the footer the URL http://next.openspending.org/permit/lib is used and not http://next.openspending.org/user/lib
So I have hardcoded the proper URL in the footer.
Thanks for the hint Adam.

[2016-07-19 11:59] #11 closed, assigned to akariv, pwalsh, schmaluk

[2016-07-20 13:51] schmaluk commented on #1
Hello,
there are some overdue issues listed above, which have not been resolved yet.

1) Access control for triple stores, linked pipes:
Currently this is done just by SSH Tunneling in order to access the Admin-Frontend of Fuseki, LinkedPipes (Although this has some disadvantages due to the security policy @FhG, I would consider this as done.)

2) Alignment UI: Postponed due to minor priority.

3)

[2016-07-20 14:19] schmaluk commented on #3
Hello,
I have marked this as done:
- LinkedPipes outputs file of RDF back to OS Datastore (so requires a way to auth with OS) ( Maik with advice from @jakubklimek )
  since we have agreed not to do this in this way in the Meeting from last week but rather store the RDF-files on our Server & expose via http: http://eis-openbudgets.iais.fraunhofer.de/dumps/

[2016-07-20 15:22] schmaluk opened #13 "Automated upload of existing OBEU-datasets on the server & staging triplestore"
We Need to upload our existing OBEU-datasets:
https://github.com/openbudgets/datasets
to our Server in an automated way (ideally whenever the datasets are updated in the github-repository).
They should become available as plain file here:
http://eis-openbudgets.iais.fraunhofer.de/dumps/
and also in the staging triplestore in a named graph.

[2016-07-20 15:31] schmaluk opened #14 "(Automated) Transformation of RDF datasets into CSV format for datamining input"
In order to provide the Input for datamining in a usable Format, we Need to transform our RDF datasets into the required CSV Format. At best this can be automated.
We Need to:
- agree on a CSV Format which is usable for datamining (provided by the datamining people)
- find a way to transform the RDF-datasets to this CSV-Format (done by LinkedPipes)
- automate this Transformation on our Server (bei

[2016-07-20 15:32] jindrichmynarz commented on #13
Instead of syncing the dataset dumps, we should import the pipelines from https://github.com/openbudgets/datasets and re-create the datasets on the OpenBudgets.eu server.

Doing this also tests that each dataset is reproducible given the provided pipeline. If the imported pipelines don't work, please raise an issue on the datasets repository.

[2016-07-20 15:52] jindrichmynarz commented on #14
First, we need to know what is required by the data mining, so that we know what we need to solve.

We already have a [pipeline fragment that converts a **single** Data Cube Vocabulary dataset into CSV](https://github.com/openbudgets/pipeline-fragments/tree/master/dcv/dcv-to-csv). It produces a CSV based on the data structure definition of the dataset.

We also discussed a possibility to create a

[2016-07-20 15:59] mlukasch commented on #5
@akariv @pwalsh Not urgent atm but want to avoid that you have to Change later the code again.
Do you have an idea about how to protect the endpoint on our Server for triggering the FDP-to-Rdf-pipeline? (For testing reasons it is practical atm to be public.) But in production only OpenSpending should be able to call this endpoint.
Access can be restricted by the IP-Address of OpenSpending in nginx

[2016-07-20 16:00] schmaluk commented on #5
@akariv @pwalsh Not urgent atm but want to avoid that you have to Change later the code again.
 Do you have an idea about how to protect the endpoint on our Server for triggering the FDP-to-Rdf-pipeline? (For testing reasons it is practical atm to be public.) But in production only OpenSpending should be able to call this endpoint.
 Access can be restricted by the IP-Address of OpenSpending in ngi

[2016-07-20 16:25] schmaluk commented on #13
Thanks @jindrichmynarz. Will try to do that. Then this should probably not be automated, if this needs a human eye to supervise.

[2016-07-20 16:28] ChristianeEngels commented on #14
I've added this requirement analysis to the agenda of tomorrow's data mining/analytics call.
As I already wrote down there I'd have the following functionality in mind for a possible future pipeline:
- Combine multiple data sets (Caution: dimensions might have to be matched here, e.g. `<http://data.openbudgets.eu/ontology/dsd/aragon-budget-inc-2014/dimension/economicClassification>` and  `<http://

[2016-07-20 16:35] jindrichmynarz commented on #13
Maybe I misunderstand you, but the pipelines themselves are what automate the ETL processes. Do you want to automate also the pipeline import?

[2016-07-20 16:44] schmaluk commented on #13
Yes, I thought initially that was a good idea for reducing work. Whenever sthg is pushed to github. But now I think it is probably better to do it manually for now for validation.

[2016-07-20 16:57] jindrichmynarz commented on #14
Some thoughts on the points you made:

If component properties are interchangeable, it should be explicitly asserted using `owl:equivalentProperty`. Linking component properties (as done in [D1.8](http://openbudgets.eu/assets/deliverables/D1.8.pdf)) is orthogonal to generating view of data for data mining. However, the component properties in various datasets are interchangeable, ETL developers in

[2016-07-20 16:59] jindrichmynarz commented on #13
Theoretically, you could retrieve the pipelines in `*.jsonld` files using the GitHub's API and import them to LP-ETL via its API.

[2016-07-21 02:56] pwalsh commented on #5
@mlukasch

IP address will not work (OpenSpending, like many other web apps, does not have a fixed IP address for all time).

The common approach would be that a service (LP-ETL in this case) would issue auth tokens, or at a pinch implement [Basic Auth](https://en.wikipedia.org/wiki/Basic_access_authentication), for clients who integrate with the service.

[2016-07-21 06:37] jakubklimek commented on #13
I think we should first define the intended workflow as I think this is the other way around. First a pipeline producing a dataset is developed locally, then it should be deployed to OBEU server LP-ETL instance (manually, to adjust/check output directories and triplestore settings) where it produces the data and stores it. Then this pipeline and possibly its input and output (if not too large) is

[2016-07-21 06:40] jakubklimek commented on #5
@pwalsh Can the Basic auth be done in nginx outside of LP-ETL? I think Apache Fuseki also leaves security to other tools so it should be doable outside, especially when we are talking about one specific POST request.

[2016-07-21 06:41] pwalsh commented on #5
@jakubklimek oh yes, of course, that is what I'd imagine the implementation to be, as I know that LP-ETL does not offer such features.

[2016-07-21 07:12] jindrichmynarz commented on #13
I think GitHub should serve us primarily as means to sharing pipelines. ETL developers should implement pipelines locally, push the pipelines to GitHub, out of which they should be imported to the staging server and replicated.

[2016-07-21 09:38] schmaluk commented on #13
My first thought was that just the produced datasets can be grabbed on github and imported (maybe even without LP). This could get fully automated. But then the Server/user does not check, if the Pipelines are working correctly...
1) If you use LP on the OBEU-server in the first place and github as Archive, that is probably more responsive for the dataset/etl developer, since he can check the data

[2016-07-21 09:43] jindrichmynarz commented on #13
I think we should adopt a workflow similar to your option 2: two people should be involved. The pipelines should be made reusable without much knowledge about their internals. Necessary configuration or prerequisites should be documented.

[2016-07-21 10:07] jakubklimek commented on #13
Option 2 makes sense if:
1. There will be a substantial amount of new datasets, for which new manual pipelines will be created. Is this planned? T2.1 and T2.2 have already ended, so this would have to be only to support analytics and data mining in the next 10 months on top of datasets, that will not come from OpenSpending. Otherwise it is not worth it to establish a proper workflow.
2. There will

[2016-07-21 16:50] schmaluk commented on #13
So do we agree then that each ETL/datasets-Pipeline-developer will upload their pipelines themselves to the OBEU-server or am I wrong? However I can assist/take over, if it just means to upload the pipelines from our git-repo & they are busy with other tasks.
I can provide (with Docker) some additional LinkedPipes instances for the transformations. In this way the FDP-to-RDF-pipeline doesnt get bl

[2016-07-22 08:53] jakubklimek commented on #13
I would agree. In addition, if this is not established elsewhere, I would like to establish metadata rules for datasets uploaded to OBEU servers (in coordination with @larjohn as discussed in https://github.com/openbudgets/datasets/issues/24), which would affect not only the manually created datasets, but also the automatically created ones and therefore the FDP-to-RDF pipeline (cc @marek-dudas).

[2016-07-22 09:11] jindrichmynarz commented on #13
I think metadata is another large issue that can be discussed separately.

Some points on the metadata issue:
- Link from a `qb:DataSet` to its metadata graph should be explicit (e.g., via `rdfs:seeAlso`), instead of based on convention, such as appending `/metadata` to the dataset's IRI. In this way, consumers may simply do things like `?dataset rdfs:seeAlso/dcterms:title ?title .` without needin

[2016-07-22 09:48] jakubklimek commented on #13
Sure, but still the metadata graph IRI should follow some convention. Actually, the rdfs:seeAlso should technically lead to the dcat:Dataset IRI (which should be the same as the dataset graph IRI), not the metadata graph IRI.

This also depends on the configuration of the publishing server. Sure, it is error-prone, on the other hand we don't expect many manually created pipelines and most of the d

[2016-07-22 10:03] jindrichmynarz commented on #13
Agreed. Let's propose a convention in D1.5.

I think we agreed that the instance of `qb:DataSet` also instantiates `dcat:Dataset` and also its IRI is used as the named graph IRI. Thus there would be no benefit in having `<dataset> rdfs:seeAlso <dataset>`. However, having an explicit link to the metadata graph would be useful.

I agree with the motivation to use DCAT distribution metadata.

[2016-07-25 15:39] marek-dudas commented on #5
Just a progress report: the latest FDPtoRDF pipeline v0.4.1 (https://github.com/openbudgets/pipeline-fragments/commit/72365e8c594708b3714e5371136bd53281eb5850) should have all up-to-now-discussed suggestions implemented, so please use this version for any further tests. I also added a brief [documentation with mapping overview and examples](https://github.com/openbudgets/pipeline-fragments/blob/ma

[2016-07-27 09:24] schmaluk opened #15 "Due dates for work items for the prototype (Due date: 30.9)"
#1. Datamining

| Status | Priority | ID | Task Description | Due date for Integration | Assignees | Github-Issue |
| --- | --- | --- | --- | --- | --- | --- |
| open | high | (1.a) | Transformation of OBEU-RDF-datasets into Datamining-CSV (by LinkedPipes) | ? | UEP/FhG/UniBonn @ChristianeEngels | https://github.com/openbudgets/platform/issues/14 |
| dismissed | - | (1.b) | Eventually uploading th

[2016-07-27 09:40] pwalsh commented on #15
@mlukasch

[code]

On last tech call the claim was made that the CSVs for data mining are not the same as the raw CSV files published, and therefore AFAIK there is no feature/use case here. ( cc @jindrichmynarz @ChristianeEngels )

[2016-07-27 10:06] schmaluk commented on #15
Thanks for the Feedback @pwalsh. Will remove it then, if this doesnt make sense for the datamining.

[2016-07-27 10:14] jakubklimek commented on #15
@mlukasch Regarding (2.d), I though we solved this for the September prototype by cloning staging to production. Therefore, this can be developed later. Is this a list of tasks to be done for the prototype (in which case I would remove it) or for the whole platform (in which case we can establish a due date after September?)

[2016-07-27 10:27] schmaluk commented on #15
@jakubklimek Thanks. I had assumed that the "real" solution would be used for the prototype. So I will remove it then/mark accordingly as well.

[2016-07-27 10:31] jindrichmynarz commented on #15
1.a: Resolving this issue depends on telling which data mining tasks are feasible, produce interesting results, and can be launched interactively by end users. Until then (which will probably happen no sooner than the first OBEU prototype) CSVs for data mining will be produced as ad hoc views for one-off data mining tasks.

2.a: In order to avoid wasted effort, we users of data from [openbudgets/d

[2016-07-27 13:11] schmaluk commented on #15
Hello,
(2.d) The triplestore data is atm only used by the visualisation (Rudolf). Not by datamining.
So it would make sense to collaborate with OKG @larjohn about the spec of the clearance & synchronisation. But since the clearance & synchronisation will not be part of the prototype as @jakubklimek noted, the spec itself can also be done at some later Point.

(1.a) I have to ask also here @FhG, if

[2016-07-27 13:17] jindrichmynarz commented on #15
One point to clarify: Clearance pipeline applies not only to data in the RDF store, but also to RDF dumps, which should contain the same data as the RDF store. Hence, this is also a concern for data mining that uses RDF dumps (e.g., to produce CSV views).

Regarding 1.a, I don't think it is necessary to skip data mining entirely, as some parts of it are already worked on for some time, such as out

[2016-07-27 14:24] schmaluk opened #16 "Select OBEU-datasets for upload to the OBEU-platform"
We need to exactly **identify / select the OBEU-datasets** from: https://github.com/openbudgets/datasets which are intended to get uploaded to our **OBEU-prototype/OBEU-platform**.

A complete list of OBEU-datasets from https://github.com/openbudgets/datasets :

**1. Aragon:**
- [x] Upload datasets
- [ ] Dismiss datasets

**2. Bonn:**
- [ ] Upload datasets
- [ ] Dismiss datasets

**3. Decin/2014/s

[2016-07-27 14:28] schmaluk commented on #16
Dismissed Datasets from Děčín or Ústecký region since they were only used to illustrate the infeasibility of tracing EU funds according to @jindrichmynarz https://github.com/openbudgets/platform/issues/15

[2016-07-27 14:38] jindrichmynarz commented on #16
I only used data from Děčín and Ústecký region as an illustration of what datasets may not be used any more. Otherwise, they are perfectly fine and can be used.

[2016-07-27 14:40] jindrichmynarz commented on #16
I think we'll dismiss `ecb-exchange-rates` rates dataset, since we don't use daily exchange rates (at least I'm not aware of any use). Instead, we use yearly average exchange rate from http://eurostat.linked-statistics.org in the [normalization pipeline fragment](https://github.com/openbudgets/pipeline-fragments/tree/master/monetary_value_normalization).

[2016-07-29 11:25] ChristianeEngels commented on #16
"Aragon" and "greek-municipalities" should be uploaded to the platform. These datasets contain data for many years (and in the Greek case also for several regions) which is a good basis for data analysis.

[2016-07-29 13:42] schmaluk opened #17 "OBEU-Search for Rudolf"
Here we can discuss, whether a dedicated OBEU-Search is necessary or not and should also be part of the prototype and how to implement it.

By using OS-Search atm we get a lot of results in the OS_Viewer on our server, which are not stored in our triplestore. Since we maybe wont have the same datasets stored in our triplestore as OpenSpending has, we would need a Search querying the datasets on th

[2016-07-29 18:34] jindrichmynarz commented on #17
Is full-text search necessary for some use cases? If so, I think we can easily extend Apache Jena's Fuseki with [additional full-text indices](https://jena.apache.org/documentation/query/text-query.html).

[2016-07-29 18:59] schmaluk commented on #17
Thanks @jindrichmynarz. OpenSpending uses ElasticSearch. So I think it also uses full-text search. @pwalsh Do you also think we should work on this for the prototype? Can try an implementation based on Fuseki then. But would need probably some help from OKI to make it compatible to the OS-Viewer.

[2016-07-29 19:34] jindrichmynarz commented on #17
Let's not implement it until we clarify if it is actually needed in the use cases.

[2016-08-03 08:26] schmaluk commented on #16
To summarize:
Only the following datasets should get uploaded to our Server via LinkedPipes so far:
- Aragon @fathoni
- greek-municipalities @larjohn @skarampatakis

will be uploaded to our Server so far.

Do you manage to upload those datasets to our Server until the 1st September @fathoni @larjohn @skarampatakis?
So that we have datasets prepared on the server as input for datamining and for vis

[2016-08-03 08:32] jindrichmynarz commented on #16
Yes. I believe most of our pipelines already put datasets in specific named graphs. Regarding the construction of named graph IRIs, they should be the same as the IRI of the `qb:DataSet` instance in the dataset.

[2016-08-03 09:38] jakubklimek commented on #16
Also, the metadata should be produced for each dataset as discussed in https://github.com/openbudgets/platform/issues/13

[2016-08-16 15:06] schmaluk commented on #14
@jaroslav-kuchar @vojir @jindrichmynarz @HimmelStein Should the Datamining algorithms produce the CSV files they work on themselves or should they be passively invoked by DAM https://github.com/openbudgets/DAM expecting their different desired CSV formats? If we go for the first case, it might be good at least to externalize the selection of the datasets (muncipality, year). So not every dataminin

[2016-08-16 15:12] jindrichmynarz commented on #14
I think @vojir said he prefers the push approach: input data for data mining is pushed to them via DAM.

[2016-08-17 14:29] schmaluk commented on #14
As discussed today in the Meeting we postpone this item for being integrated after the prototype. So the DM algorithm developers have more time to define the proper Input data for their algorithms and how the Input data should get produced (for example by a datamining frontend or by using LinkedPipes pipelines)

[2016-08-18 11:27] skarampatakis commented on #13
Hi, we are on the procedure to upload the Greek Municipalities datasets on Fuseki. Currently all these datasets use the old metadata component carried from UV. For instance we can see an example below:

[code]

Q1: The problem is that these are contained within the same named graph, also distribution metadata is missing as this specification was only recently introduced. Should we seperate them an

[2016-08-18 11:55] jindrichmynarz commented on #13
Yes. See [here](https://github.com/openbudgets/platform/issues/13#issuecomment-234502670).

As I argued above, the effort invested in metadata might outweigh the value of metadata in the OpenBudgets.eu project. Unlike the requirements for dataset metadata for visualization, I current don't see a way in which distribution metadata will be used. @jakubklimek argued above that adding distribution met

[2016-08-18 14:06] skarampatakis commented on #13
I was referring to general guidelines that will be present I believe in D 1.5, such as dataset and metadata IRI conventions, mandatory and optional properties on metadata, serialization format(?), and stuff like that.

Sure, but if other tasks are blocked by dataset uploading task, should be postponed? In the case of our datasets, most of the basic properties suggested are already present. I don't

[2016-08-18 15:39] skarampatakis commented on #2
Dereferencing does not seem to be working.

http://data.openbudgets.eu/ontology/dsd/dimension/fiscalYear

leads to 404, while running the describe query on SPARQL endpoint returns a result.

[2016-08-18 15:41] jindrichmynarz commented on #13
I see. This is mostly already scattered in various GitHub comments.
- Dataset IRI is the same as the `qb:DataSet` instance IRI, which is the same as the dataset's named graph IRI.
- Metadata IRI is created by appending `/metadata` to the dataset IRI.
- Mandatory metadata properties are described above in [this comment](https://github.com/openbudgets/platform/issues/13#issuecomment-234490081). All

[2016-08-18 15:53] skarampatakis commented on #13
That's the reason I insist on concrete, final decision that should be taken before re-editing the pipelines. And the proper place to be is the final version of D 1.5.

If we are not going to re-run the pipelines for now why to upload them? While this is a pretty simple task by a shell script, I believe we can just bulk upload the datasets on Fuseki and serialized dataset files in whatever format o

[2016-08-18 15:57] jindrichmynarz commented on #13
Actually, I think uploading all pipelines would be an overkill at this moment. What we need to tell first is if we can re-run the pipelines on a different server. So I would start with 1-2 pipelines and see if they work. Then we can adjust them, see if they match our requirements, and only then migrate all the remaining pipelines.

[2016-08-18 16:13] mlukasch commented on #2
The reason why it is not working is, that we have 2 triplestores: Staging & Production. And the URI dereferncing just applies to the production one. But you have used correctly the staging triplestore for your upload Therefore there is a cronjob running hourly which copies the staging triplestore to production. Later this will be replaced by a proper Validation/clearance procedure afaik. Will inve

[2016-08-18 16:32] schmaluk commented on #2
@skarampatakis Sorry, have corrected it. It should work by now.

[2016-08-18 16:41] skarampatakis commented on #2
Thanks @mlukasch, it works partially.

But since I requested it through a browser I should get a proper HTML page according to http://wifo5-03.informatik.uni-mannheim.de/bizer/pub/LinkedDataTutorial/

and

https://www.w3.org/TR/swbp-vocab-pub/

[2016-08-19 12:55] schmaluk commented on #2
@skarampatakis Actually what the Sparql-Describe-query returns is not in HTML format. I can return text/plain as Content-Type instead of text/ttl, if Mime-Type in the request is text/html .
And return text/ttl as Content-Type otherwise.

[2016-08-19 15:39] schmaluk commented on #2
If you open http://data.openbudgets.eu/ontology/dsd/dimension/fiscalYear now with a browser,  one receives now the result of the Describe-Query as text/plain.
Otherwise one gets the result with the ContentType text/turtle. Hope this meets the above requirements.

[2016-08-24 10:08] skarampatakis commented on #16
Hi, I am trying to upload some datasets for test purposes on OBEU server. I am using LP for this, as default s-put commands seems not to be working from terminal.
At first, it seems tha LP localFile component is not working. It throws an error as :

[code]

Local path is defined in component.

I switched to http-get component using the files on our github repo, to overcome this problem with succes

[2016-08-24 10:32] jakubklimek commented on #16
Seems to be some networking issue since I can access Fuseki on `http://localhost:33030/fuseki/data` @mlukasch any config changes?

[2016-08-24 10:39] jakubklimek commented on #16
@skarampatakis btw the files from local `path` property should have been the path, not an IRI, i.e. `/home/sotiris` instead of `file:///home/sotiris`

[2016-08-24 10:58] skarampatakis commented on #16
I have tried both with no success. It throws the same problem: Invalid property.

[2016-08-24 11:02] skarampatakis commented on #2
With a browser the response is recommended to be a proper HTML page.

[2016-08-24 11:07] schmaluk commented on #16
@skarampatakis No 18080 is not the right instance. 18080 & 28080 are originally for Christiane & Fathoni for their experiments. 8181 is the proper LP instance. But currently another pipeline is running. So you would need to wait. For the future I can provide more LP instances than just 1. So each LP developer would be able to use their own LP instance maybe. So you wont block each other. On the pr

[2016-08-24 11:07] skarampatakis commented on #13
Now we are on the same page. Thank you!

[2016-08-24 11:18] skarampatakis commented on #16
Can you re-configure some of the other 2? It seems that on 8181 there is a long running pipeline.

[2016-08-24 11:22] jakubklimek commented on #2
@skarampatakis Do you have any recommendation about a tool that could generate such page? Since we are using Fuseki and not Virtuoso, we cannot use virtuoso's fct browser for this. So maybe something like pubby?

[2016-08-24 15:17] skarampatakis commented on #16
I have managed to run my pipeline on 8181 LP instance. However when I change HTTP get component to Files from local I get again same invalid property error. @jakubklimek is this an LP issue? I would like to be able to do so , because we have to upload all of our datasets. The other solution would be to get a list of all github IRIs and feed the HTTP Get List Component. How is this component get th

[2016-08-24 15:17] schmaluk commented on #16
Hello @skarampatakis , I have reconfigured the 18080 & 28080. You can use one of those now. The config is still the same as on 8181:
http://triple_store_staging:3030/fuseki/data
SSH-Server: sshserver, User & Password: root
Will test also the other solution suggested by Jakub with the LinkedPipes instance on your local machine using ssh-connection to LP.

[2016-08-24 15:21] schmaluk commented on #16
But since the Pipeline has stopped, I can restart the server now and rather setup some new Instances in OBEU-stack only for custom pipelines.

[2016-08-25 15:39] schmaluk commented on #16
@skarampatakis There are now 5 new instances: 8282, 8383, 8484, 8585, 8686 of LP available on the Fhg-server as written in the mail.

[2016-09-02 09:39] skarampatakis commented on #16
Hi all, I have used the LP instance on 8686 to bulk upload all Greek Municipalities Datasets. Can you check if everything is OK?

Some general codelists are missing, I will have them uploaded by today. Is there any specific requirement about in which named graph can we use? Or can we choose a generic one for test purposes such as http://data.openbudgets.eu/resource/codelist/greek-municipalities ?

[2016-09-02 09:43] jindrichmynarz commented on #16
Regarding the named graphs, each dataset should be in a separate named graph, the IRI of which should be the same as the `qb:DataSet` instance's IRI.

[2016-09-02 09:47] skarampatakis commented on #16
All datasets have seperate named graph which is the same with the qb:DataSet. But I was asking about the Code Lists.

[2016-09-02 09:55] jindrichmynarz commented on #16
Sorry, I misread your point. The recommended treatment of code lists is similar: each code list should be in a separate named graph, the IRI of which should be the same as the `skos:ConceptScheme` instance's IRI.

[2016-09-02 09:59] skarampatakis commented on #16
OK @jindrichmynarz, thank you for your immediate response.

[2016-09-02 10:12] skarampatakis commented on #2
@mlukasch Actually this leads to false statement for semantic web agents, because text/plain is a media type for N-triples. Thus while a browser believes the content is in N-triples it gets Turtle.

@jakubklimek Pubby is quite "old" I would say. Another option could be [LODView](http://lodview.it/lodview/?IRI=http%3A%2F%2Faemet.linkeddata.es%2Fresource%2FObservation%2Fat_1315943400000_of_0158X_on_

[2016-09-02 11:12] schmaluk commented on #2
@skarampatakis Sounds great. Do you have maybe a link for your RDFBrowser? I will then install it on our server, if you are ok with it. Alternatively another tomcat for https://github.com/dvcama/LodView would be also ok from my point of view.

[2016-09-05 12:32] skarampatakis commented on #2
@mlukasch You can find RDFBrowser on OKGreece Github [repo](https://github.com/okgreece/RDFBrowser). I can help you with deployment and configuration. It has been tested with both apache and nginx.

[2016-09-07 14:53] schmaluk commented on #2
@skarampatakis Thanks have found it. Is this urgent from your perspective, otherwise we at Fhg/UniBonn have decided to postpone this until the prototype has been completed.

[2016-09-08 11:02] skarampatakis commented on #2
This is not urgent I believe but I think it could be included on the prototype of our platform. I can help you with this if you want. I would suggest to get the pre-built files for easy installation.

[2016-09-21 14:08] schmaluk opened #18 "Integration of OS-Viewer & OS-Explorer into OBEU"
Hello @pwalsh and @akariv,

here are the differences on the UI which I have identified between the OS-Viewer and the "OBEU-Viewer":
![os-viewer](https://cloud.githubusercontent.com/assets/17597578/18714234/5e8529d4-8015-11e6-9bad-f5a91c7ee8b9.PNG)
![os-viewer_2](https://cloud.githubusercontent.com/assets/17597578/18714235/5e850b3e-8015-11e6-814b-599a93eb16f5.PNG)

and here the differences between

[2016-09-21 14:18] pwalsh commented on #18
@mlukasch yes. some of this we will do as part of general theming, and some can be just general env var config. we'll get back to you next week on specifics.

[2016-09-30 11:40] schmaluk opened #19 "Setting Up Virtuoso"
Hello @larjohn and @jindrichmynarz ,
I just wanted to ask, if we have a default Graph for Virtuoso,
since Im supposed to define one using a pre-built Virtuoso Docker image.
Thanks

[2016-09-30 12:07] jindrichmynarz commented on #19
There's no need to define an explicit default graph IRI. If you're using [this Docker image](https://github.com/tenforce/docker-virtuoso), then the default graph defaults to `http://localhost:8890/DAV`.

[2016-09-30 17:01] mlukasch commented on #19
Thanks for the quick help.
Have setup Virtuoso Staging (Port: 8890) & Virtuoso Production (Port:8891) on the FhgServer. But not yet installed the cronjob for transferring the DB from staging to production.
Also exposed the Sparql endpoint of Virtuoso Production at http://eis-openbudgets.iais.fraunhofer.de/virtuoso/sparql but just for reading.
Will install the cronjob & load data into Virtuoso on n

[2016-10-04 14:52] schmaluk commented on #19
Thanks @jindrichmynarz for the help,
![virtuoso_frage](https://cloud.githubusercontent.com/assets/17597578/19079015/6f994b8c-8a52-11e6-84ec-66eeca76e94e.PNG)

Would you recommend to use the Dumpl-Files here:
http://eis-openbudgets.iais.fraunhofer.de/dumps/
for the Import into the Virtuoso-DB together with the Name of the Graph as "Named Graph IRI":
http://data.openbudgets.eu/resource/dataset/????

[2016-10-04 17:46] jindrichmynarz commented on #19
You can use the [Virtuoso bulk loader](http://virtuoso.openlinksw.com/dataspace/doc/dav/wiki/Main/VirtBulkRDFLoader) and generate the `*.graph` files containing the IRIs of named graphs to load the dumps to. In case of OpenBudgets.eu datasets, the IRIs of named graphs are the same as the IRIs of the `qb:DataSet` instances in the graphs. This makes it possible to generate the `*.graph` files automa

[2016-10-05 12:16] akariv commented on #18
This is the correct value:

OS_VIEWER_AUTH_HOST=http://next.openspending.org

[2016-10-06 15:04] schmaluk commented on #19
@jindrichmynarz For a lot of *.ttl-files I dont get the name of the graph back but just the content: "dataset".
I can do the bulk load. But not sure how good the result will then be.
Thanks for advising me so far.
For example for:

./estructura_funcional_aragon_2012.ttl.graph
./data.ttl.graph
./estructura_financiacion_g_aragon_2009.ttl.graph
./estructura_economica_g_aragon_2010.ttl.graph
./estruct

[2016-10-06 18:50] jindrichmynarz commented on #19
I see. You get the word "dataset" because the query has no results, so only the variable name (i.e. "dataset" is shown). You get no results for these files, because they are not data cubes, but code lists, so they don't contain any instance of `qb:DataSet`. I wasn't aware that you're loading code lists too, hence the problem. However, I think the problem has a simple solution. In case of code list

[2016-10-06 19:48] larjohn commented on #19
If you do upload the datasets, can you please also upload:
1. all files from the codelists repo
2. the files from this repo: https://github.com/openbudgets/auxiliary-data

[2016-10-07 07:36] jakubklimek commented on #19
This clearly poses a requirement on storage of output RDF datasets in TriG. Then it is much easier to load to Virtuoso.

[2016-10-07 08:39] schmaluk commented on #19
Thanks a lot. @jakubklimek Would that be a task for the pipelines or a separated process involving the triplestore? But for the meantime I will try @jindrichmynarz's solution in order to get a fast result.

[2016-10-07 08:41] jakubklimek commented on #19
This would be a task for the pipelines. It should be included in the pipelines update for inclusion of metadata from D1.5.

[2016-10-07 10:23] schmaluk commented on #19
@larjohn Should I import both folders in https://github.com/openbudgets/Code-lists ? OpenRefine & UnifiedViews
Sorry for asking so frequently @jindrichmynarz . Thhere are dsd-files for which no graphname can be found.
For example:
Fri Oct  7 12:45:49 CEST 2016 No graphname found for ttl-file: greek-municipalities/municipality-of-kalamaria/dsd/kalamaria-br2011-dsd.ttl
Fri Oct  7 12:45:51 CEST 2016

[2016-10-07 11:16] larjohn commented on #19
Only those at

https://github.com/openbudgets/Code-lists/tree/master/UnifiedViews/skosified

[2016-10-07 12:12] jindrichmynarz commented on #19
I think the data structure definitions (DSD) should be stored in the same named graph as the dataset that is described by them. However, there's no way to know that just from the DSDs file. You'd need to make a lookup table by scanning the datasets and extracting `qb:structure` links, which connect datasets to their DSDs.

I think this highlights what @jakubklimek said above: this would be easier

[2016-10-07 13:32] schmaluk commented on #19
@larjohn The datasets (All ttl-files in the dumps-folder + skosified-folder + auxiliary-data-folder) have been hopefully uploaded to virtuoso_staging. In 30 mins they should be also transferred to virtuso_production.
The Sparql endpoint of virtuoso_production is exposed for reading at:
http://eis-openbudgets.iais.fraunhofer.de/virtuoso/sparql
Hope this is working.

[2016-10-07 22:12] larjohn commented on #19
The OBEU model triples are also needed. I uploaded them as well in the staging triple store. But I can only see three datasets. Why is that?

[2016-10-11 08:54] schmaluk commented on #19
@larjohn sorry there was a command missing on my side for the actual execution of the import. Should now be imported

[2016-10-12 11:13] larjohn commented on #19
The following query is returning to many tuples. Why is that?

[code]

Distinct also times out the triple store.

[2016-10-12 11:37] jindrichmynarz commented on #19
What do you mean by "too many" results? Do you mean that there are duplicate solutions for this query?

[2016-10-12 11:44] larjohn commented on #19
Yes, there are duplicates and their amount does not appear to be consistent - I mean there are more or less duplicates for each solution.

[2016-10-12 11:45] mlukasch commented on #19
@jindrichmynarz @larjohn I think what is meant is that the query returns duplicate entries. Switching to "distinct" (in order to fix this) results in a timeout.

[2016-10-12 12:44] schmaluk commented on #19
@larjohn I dont know why the duplicates are showing up but at least running the Sparql-Select with "distinct" has worked for me with the endpoint:
http://eis-openbudgets.iais.fraunhofer.de/virtuoso/sparql

[2016-10-12 12:46] larjohn commented on #19
It now runs faster, I will check and report back

[2016-10-12 12:53] schmaluk commented on #19
@larjohn every hour a cronjob is running which copies everything from staging to production by replacing the DB files. During that process a timeout can happen.

[2016-10-12 13:11] jindrichmynarz commented on #19
The "duplicates" have several causes.

First, a component property may be used in multiple `qb:ComponentSpecification` in multiple datasets. By the way, I don't know what use does including component specifications in the results has, because they are typically blank nodes.

Second, there are component properties that are instances of more than one subclass of `qb:ComponentProperty`. See:

[code]

[2016-10-14 08:45] schmaluk commented on #18
@pwalsh @akariv In order to avoid bigger problems regarding the deadline at the end of this month I'll use a fork of the OS-Viewer for further integration into OBEU in order to adapt the OS-Viewer-Frontend. If there is a better suggestion, please let me know.

[2016-10-14 08:55] pwalsh commented on #18
@mlukasch can you explain what "bigger problems" you are avoiding by forking?

We've talked about this for 3-4 times on the tech calls, and there has been no further info added here, and no clarity on those calls.

@akariv is working on theming now, but I still do not see what the problems are/are not.

[2016-10-14 09:11] schmaluk commented on #18
@pwalsh timewise. Would you be able to provide the theming within the following week? by using a fork adaptions can be made. also possible other changes: https://github.com/openspending/openspending/issues/1140 There are 2 weeks left. So I thought that would be better.

[2016-10-14 09:13] akariv commented on #18
Yes, for sure. I'm working on it right now.

On Fri, Oct 14, 2016, 12:11 mlukasch notifications@github.com wrote:

[2016-10-14 09:17] schmaluk commented on #18
@akariv @pwalsh Glad that you can make it. Thanks.

[2016-10-14 09:24] pwalsh commented on #18
@mlukasch

ok, but again, you are not really explaining what you need, or why.

When we last talked you said you had a problem with auth, which we have no further context on, and we confirmed that the current env var is correct.

So, if there are _bugs_, you need to report them (much) better (even https://github.com/openspending/openspending/issues/1140 is probably not a bug based on current knowl

[2016-10-14 12:12] schmaluk commented on #18
@pwalsh For OpenBudgets I'd suggest the following adaptions according the numbers in the screenshots:
1) The "OSViewer"-Logo needs to be changed to the OpenBudgets-Logo.
2) The "Upload Data"-Link should either be removed or direct to the "OpenSpending Packager" at OpenSpending.
3) "Explore Datasets" directs to OpenBudget-Explorer.
Ignore this please:  4) The "Login/Register"-link: It seems that no

[2016-10-14 12:30] pwalsh commented on #18
@mlukasch

all above seems clear - replacing various urls with env vars that can be swapped out.

But `The "Login/Register"-link should work like in OpenSpending` I don't know what you mean. Unless you are planning on developing your own auth handling (which I have not seen any code for...), would you not just use the OS auth functionality? Please explain more what you are actually attempting to d

[2016-10-14 12:36] schmaluk commented on #18
@pwalsh Reusing the Auth used by OpenSpending. This seems to be also convenient from a user perspective since the dataset upload to OpenBudgets is done via OpenSpending anyway and for that a Login into OpenSpending is required afaik.

[2016-10-14 12:37] pwalsh commented on #18
@mlukasch ok, so, how is it not working? can you provide a bug report, or a full description of actual behaviour/expected behaviour, and so on?

[2016-10-14 12:38] schmaluk commented on #18
@pwalsh Yes probably I should have excluded that. Sorry.

[2016-10-14 12:46] pwalsh commented on #18
@mlukasch it is fine, just that in order to help we need information. So, that means that auth does work?

[2016-10-14 13:06] schmaluk commented on #18
@pwalsh The Viewer at http://eis-openbudgets.iais.fraunhofer.de/viewer/ will need some fix and @larjohn is working on it.
But the Auth seems to be an additional problem of its own according to the Browser logs:
1) GET https://accounts.google.com/o/oauth2/auth
2) GET http://next.openspending.org/oauth/google_callback [HTTP/1.1 302 FOUND 235ms]
3) GET http://next.openspending.org/user/lib
4) GET XHR

[2016-10-14 13:18] schmaluk commented on #18
Unlike on http://next.openspending.org/viewer/ the Parameter "jwt" is not sent from http://eis-openbudgets.iais.fraunhofer.de/viewer/ to http://next.openspending.org/user/check

[2016-10-14 13:23] pwalsh commented on #18
@mlukasch

I'd say there is a good chance that the various errors here (see the attached screenshot of the Viewer running at Fraunhofer) are breaking other parts of the logic in javascript. That might be one place for you to start debugging the issue.

Additionally, if the jwt parameter is not being sent, then a login transaction can't succeed, so you should try to work out why it is not being sen

[2016-10-14 15:45] schmaluk commented on #18
@pwalsh @larjohn has implemented a cache which needed to be cleared. So the Auth works now partially at:
**http://eis-openbudgets.iais.fraunhofer.de/viewer/budget-heraklion-revenue-2014__efb44?lang=en**
If I log out, I cannot login anymore. @akariv Maybe you have an idea why? Will look further into it and come back to you when I've found more about that.

One smaller thing that would need adaption

[2016-10-17 08:58] pwalsh commented on #18
@mlukasch ( cc @akariv )
- The PR to integrate theming into the Viewer is here, and due to be merged by tomorrow: https://github.com/openspending/os-viewer/pull/137
- A PR for the Explorer will follow

I'll update here when these hit master on each codebase too, but you can also use the branches in advance if needed.

[2016-10-18 15:02] pwalsh opened #20 "Assets for web"
Design assets that can be used to create web assets can be found here:

http://openbudgets.eu/press/

In fact, the only asset we have is a logo.

The color scheme for OpenBudgets.eu can be found here:

https://github.com/openbudgets/openbudgets.github.io/blob/master/_sass/base/_variables.scss#L19-L23

[2016-10-19 15:41] schmaluk commented on #18
![os_viewer_issues](https://cloud.githubusercontent.com/assets/17597578/19526742/bbf57cf6-9625-11e6-84b1-0e1358bd2a00.PNG)

Hello @pwalsh and @akariv
thanks for your great work.
Just 3 issues with the customizing/theming so far which can be observed at http://eis-openbudgets.iais.fraunhofer.de/viewer :
- Major one: 1) I need to configure the DataMining Button, so that it directs to the URL of the

[2016-10-20 16:06] schmaluk opened #21 "OS-Viewer: DataMining-Button's URL"
@larjohn @akariv @pwalsh Hello, Im opening a new issue for this one.
But this one is related to: https://github.com/openbudgets/platform/issues/18

A click on the DataMining-Button in the Viewer:
http://next.openspending.org/viewer/da34ef6cdb3c6dc3f21686ebcaa2f74b:testfdp3?lang=en
results in the following URL:
http://next.openspending.org/?queryText=SELECT%20*%20FROM%20fdp__da34ef6cdb3c6dc3f21686e

[2016-10-20 16:20] pwalsh commented on #21
when this came up in a tech call, it was said the URL was fine, and the query itself is managed on the data mining app.

[2016-10-25 07:30] akariv commented on #18
@mlukasch

1) I'll add the ability to customise the data mine button, and try to reproduce the issue with it not appearing.
2) You should deploy the os-admin app - it uses the search api to show all the user's datasets, so redirecting to the openspending one would show the wrong results.
3) If you need another colour modified simply add the CSS rule and change the theme json accordingly and issue

[2016-10-25 08:32] akariv commented on #18
Some promised comments:
1) You now have the ability to customise the data mine button in the latest master.
4) a. Download url for the package is taken from the 'origin_url' property in the data package
    b. Download urls for the resources is taken from the 'url' or 'path' properties for each of the resources.
See here for an example:
http://next.openspending.org/api/3/info/5df4a7b06a940c992d1c4

[2016-10-26 12:29] pwalsh commented on #21
I see @akariv addressed this in the original issue, so not sure we need another issue for this. Maybe we should close this?

[2016-10-28 16:21] schmaluk commented on #18
Thanks @akariv
I have installed the OS-Admin app at the Fhg Server and customized OS-Explorer with your theming:
http://eis-openbudgets.iais.fraunhofer.de/explorer/
The problem with the Login can be seen on: http://eis-openbudgets.iais.fraunhofer.de/viewer/
I logout but cannot login anymore.
Plus the DataMining Button doesnt show up. I wasnt able to see the updateDataMineUrl-function called: https

[2016-10-29 06:50] akariv commented on #18
@mlukasch both issues were resolved in the latest viewer master - did you rebase recently?
I also added there the ability to customise the data mine URL.

[2016-11-02 12:30] schmaluk commented on #18
@akariv Have updated repo in the dockerfile. as well as the config. But in the request to http://next.openspending.org/user/check there is no jwt-token set as can be seen here: http://eis-openbudgets.iais.fraunhofer.de/viewer
Unfortunately the DM-Button to the DM-URL only shows up if you are logged in. So a Login is required.
(The jwt token can get appended then as a query parameter to the DM-URL,

[2016-11-02 16:32] akariv commented on #18
I managed to login alright, but the problem seems to be related to an
incompatibility with the facts endpoint, that causes an exception to be
raised - that should be fixed (maybe @larjohn will know more).

Regarding the button appearing or not if you're logged in or not - you can
change the template of the URL of the button by modifying the theme.
If {{token}} is not in the URL, then it will appea

[2016-11-02 17:22] schmaluk commented on #18
@akariv thanks for helping
@larjohn The facts endpoint with different responses:
For example:
- field "cells": http://eis-openbudgets.iais.fraunhofer.de/viewer/budget-heraklion-revenue-2014__efb44?lang=en
- field "cell": http://next.openspending.org/viewer/23cdc48554ae8648deff7837c025d8c0:mohe2016_detailed?lang=en

Just wanted to ask @larjohn what the URL pattern for showing the Indigo app for the

[2016-11-02 18:53] larjohn commented on #18
I have updated the facts endpoint to work in a more predictable way. It also selects default fields if none is defined.

The URL, in general should be /indigo/#/cube/analytics/{datasetName}

This page will contain a collection of applicable analysis algorithms for the specific dataset. Regarding the timeseries algorithm, it could apply to a single dataset, if this dataset spans to multiple years.

[2016-11-03 16:03] schmaluk commented on #18
@larjohn http://eis-openbudgets.iais.fraunhofer.de/api/3/cubes/budget-heraklion-revenue-2014__efb44/model returns null i.e. no value for the attribute fact_table.
But this attribute fact_table is supposed to be the datasetName imo.
That is why the OS-Viewer cannot compose the URL for the DM-Button:
/indigo/#/cube/analytics/{factTable}
(I hope that the datasetName would be the same as the factTable

[2016-11-04 12:38] larjohn commented on #18
A new commit fixes this latest issue

[2016-11-09 13:08] #21 closed, assigned to akariv, pwalsh, larjohn, schmaluk

[2016-11-09 13:27] schmaluk opened #22 "Unifying Properties in the Datasets for Improving Performance of Sparql-Queries in Rudolf"
Hello @larjohn, @jindrichmynarz , @jakubklimek and @marek-dudas ,
I thought it would be better to have this on github rather than in email correspondance for better collaboration.
So I have put the mail correspondance between @larjohn and me now here.
(I hope I have understood @larjohn correctly and trying to repeat it.)

Remark: @marek-dudas This problem occurred when you search in the http://eis

[2016-11-09 14:22] jakubklimek commented on #22
dc: elements are deprecated in favor of dcterms: for usage in Linked Data. I don't see it used in the query, is it used in some specific datasets? Then it should be changed to dcterms:

Sometimes it is possible to rewrite OPTIONALs into UNIONs when there are not many, which is often faster to execute.

On the other hand, this kind of heterogenity is a quite natural aspect of Linked Data. In additi

[2016-11-09 14:37] larjohn commented on #22
Some dimensions have special meaning - I am referring to the time and the currency dimensions, as they play a special role. Even though, currently, they are not used that way, for performance issues, a very good use case would be to let us aggregate observations of a municipality across years. Now imagine Czechia joins the Eurozone, and this aggregation has to take account two different currencies

[2016-11-09 14:42] jindrichmynarz commented on #22
I think this is not a use case for a real-time query, because RDF stores in general haven't progressed enough to be capable of answering such complex queries. Instead, I see this as a use case for asynchronous ETL, in which the query can be split into several simple steps.

The variability of component properties in OpenBudgets.eu datasets in general doesn't indicate bad quality, but instead it si

[2016-11-09 14:56] larjohn commented on #22
I totally agree on the complexity of the queries. Nevertheless, such a query (only the currency part) with two drilldown dimensions, took me ~30 seconds in 8GB VM with a dual core CPU. I find this acceptable. The problem with this was mainly scalability - a third currency increased the query execution time in a non proportional manner.

Currently, "global" queries utilize UNIONS, as @jakubklimek s

[2016-11-09 15:03] schmaluk commented on #22
Thanks for the input: @jakubklimek @jindrichmynarz
1) In the Explorer: http://eis-openbudgets.iais.fraunhofer.de/explorer/ all available datasets from the triplestore should get shown. This would require such a SPARQL-Query over all datasets I think (?)
2) So you would suggest to simplify the SPARQL-queries by using pipelines to make sure the datasets are more unified so that @larjohn 's SPARQL_qu

[2016-11-09 15:10] jakubklimek commented on #22
1) The list of all datasets is simple, what I meant was the complex query on top of all the data.
2) It is a possibility. Of course, there is a price. In order for the user to see his data through rudolf, he would have to additionally wait until his dataset is enriched by these pipelines. So the question is whether this would be preferrable to the current state.

[2016-11-09 15:11] jindrichmynarz commented on #22
Code lists with missing values may be provided with synthetic, automatically generated values as we discussed in September with @larjohn. This can be done in the clearance pipeline that synchronizes data to the production RDF store.

Yes, you'd query over the default union graph of the RDF stores.

Some of the issues can be resolved by pre-processing, such as the missing labels in code lists I men

[2016-11-09 15:28] larjohn commented on #22
I generally consider 1 minute to be near real-time. Unfortunately to say a use case is of interest is not so significant compared to the possibility to run it in real time. Then comes scalability into play. What happens if 100 new datasets are added? Will it be still possible to run the same queries? A solution to this is the creation of graphs as you suggest.

A nice use case would be the followi

[2016-11-09 15:42] jindrichmynarz commented on #22
While linking code lists is can be done manually by domain experts, it takes too much effort unless you only link code list concepts addressing a particular use case, such as the health expenditure tracking you mentioned. Unfortunately, usually there's not enough data in code lists to enable reliable automated linking.

`obeu-dimension:budgetaryUnit` was deprecated some time ago in favour of `obeu

[2016-11-09 15:57] larjohn commented on #22
Right, so far:
1. We will try to discuss on a code list linking use case either in Prague or earlier - Fabrizio contacted me on this
2. Good to know budgetaryUnit is deprecated - I've seen it in the Czech datasets, if I am not mistaken. If we use DBpedia entities for this one, we can get ISO codes for free and voila, the OS Viewer can digest those with a little more effort.
3. Labels AND notation

[2016-11-09 16:33] jindrichmynarz commented on #22
`obeu-dimension:budgetaryUnit` is used mostly in Aragón datasets. Here are the DSD's that include the property:

[code]

Not every one of these datasets was selected in #16 to be used further, so some don't need updating.

Agreed.

Yes, recommended metadata are described in section 9 of [D1.5](http://openbudgets.eu/assets/deliverables/D1.5.pdf) (p. 33).

This is not explicitly specified in D1.5, b

[2016-11-17 13:40] schmaluk opened #23 "Fix in FDP-to-RDF-pipeline needed (for demonstrating integration work)"
Hello @marek-dudas ,

sorry to address you via Email & github redundantly. (Due to the urgency of the matter I have used both ways.)
The Problem:
The FDP-RDF datasets come with a dc-elements instead of a dc-terms title. According to @jakubklimek , the latter should be used. Without this fix we dont see the Datasets imported by the FDP-to-RDF-pipeline in the Explorer: http://eis-openbudgets.iais.fr

[2016-11-18 07:38] marek-dudas commented on #23
Should now be fixed in the 0.7.1 version of the pipeline in [commit 2521569](https://github.com/openbudgets/pipeline-fragments/commit/25215692314b7c446f0ff9286252433f27b6f36e). Just the pipeline needs to be updated, no changes in the FDPtoRDF component.

[2016-11-18 07:38] #23 closed, assigned to jakubklimek, larjohn, tmerten, marek-dudas, schmaluk

[2017-02-09 15:51] schmaluk opened #24 "Import datasets from Github Repository into Virtuoso"
In our tech there was the idea to connect a github repository with our Virtuoso triplestore.
Here we can discuss if that is needed at all, can be implemented and specify how such an import should look like.

The use case is:
Municipalities which can handle the data transformation in our OBEU-RDF-format themselves can upload their datasets to our triplestore.

So whenever datasets are being pushed

[2017-02-09 16:11] schmaluk commented on #24
There should be maybe at least some kind of check that the graphnames of each repository or even within a repository are unique. Otherwise the imported graphs will replace each other in Virtuoso.

[2017-02-09 16:41] jindrichmynarz commented on #24
Municipalities will use the FDP2RDF pipeline, which can either directly import to Virtuoso or produce a file dump that will be loaded to Virtuoso.

What is the use case of involving Git in this workflow?

[2017-02-09 16:55] skarampatakis commented on #24
Will municipalities use only the FDP2RDF pipeline? The workflow is to first upload the CSV only file to OS Packager?

[2017-02-09 17:11] jindrichmynarz commented on #24
That's what I understood.

[2017-02-09 17:29] skarampatakis commented on #24
I think it is just a use case, not the only one. And that was the answer we got on the tech call.

[2017-02-09 17:48] pwalsh commented on #24
@skarampatakis the integration of the RDF pipeline requires CSV files to be added via the openspending packager, yes.

Also note that if municipalities have large or complex transformations from one or many tabular data sources, they can also use openspending's native pipeline framework, which does not have the performance restrictions of linked pipes, but has the con (in terms of piloting OBEU) o

[2017-02-09 17:52] pwalsh commented on #24
- pipeline monitoring UI: http://staging.openspending.org/pipelines/
- examples of pipelines generated from GitHub repos ((with some rather complex transformations)):
  - https://github.com/os-data/eu-structural-funds
  - https://github.com/os-data/mexican-federal-budget
- code: https://github.com/frictionlessdata/datapackage-pipelines
- an example of a simple pipeline configuration: https://githu

[2017-02-13 09:42] schmaluk commented on #24
Hi, thanks for giving feedback. Yes this was meant as an additional feature discussed at the last tech call. Hope that I have understood @larjohn correctly here. Some municipalities seem to be able to provide datasets directly in our OBEU RDF format themselves without the need to use the FDP-to-RDF-pipeline via the OS-packager and maybe adding richer information to the RDF datasets. And I just wan

[2017-02-13 10:03] schmaluk opened #25 "User-Feedback when FDP-to-RDF-pipeline completed"
Hello,
since we tend now to include the FDP-to-RDF-pipeline in the LST, there has been another request in the last tech call.
When the user triggers the FDP-to-RDF-pipeline, there should be some kind of feedback to the user, when and if the pipeline has been completed correctly.

I'd be very glad about your input what this user feedback should look like (maybe the easiest: a Email notification to

[2017-02-13 10:09] jindrichmynarz commented on #24
OK, some further thoughts on your questions:

I think it would be easier to drop and reimport each dataset that was affected by a commit.

Deltas can work if the data is stored in a line-based format that can be diffed easily, such as [N-Quads](https://www.w3.org/TR/n-quads). However, combining Git with scripts that can resolve diffs to an RDF store can get messy. If we really want data storage wi

[2017-02-13 10:19] jindrichmynarz commented on #25
One approach to do this could be that the pipeline can trigger a GET request after it's done processing (using the "run before" edge). The requested URL can implement a simple service that would notify the user.

A trickier subject is to decide what should the exchanged messages contain. The FDP2RDF pipeline can send some fields from its input FDP descriptor (e.g., `author`) along with the named g

[2017-02-13 10:23] jakubklimek commented on #25
I think that the proposed approach here is to use the existing LP-ETL API to monitor the pipeline execution (and possibly display its state) in an external tool. Therefore this tool can notify the user once it sees that the execution is finished.

[2017-02-13 10:53] jindrichmynarz commented on #25
Yes, monitoring the LP-ETL API directly is a superior solution.

[2017-02-13 11:04] schmaluk commented on #25
Hi, many thanks. So I could/should write such a tool which monitors the LP-ETL-API in order to find recently completed FDP-to-RDF-pipeline jobs. Can the email address of the user somehow be retrieved by the LP-ETL API for the FDP-to-RDF-pipeline jobs? Or is the email address not at all provided to the FDP-to-RDF-pipeline from OS-side?

[2017-02-13 11:09] jakubklimek commented on #25
There are no users in LP-ETL and the email address is not passed to LP-ETL. Since the email address in question is the address of the OS user, I could imagine a simplified execution monitor showing only statuses of FDPtoRDF pipeline executions of that given user, possibly notifying him using is OS-registered email address.

Is this functionality required? As far as I know there is only a simple ho

[2017-02-13 11:14] schmaluk commented on #25
Apparently the user mail address is somehow contained in the author field in the datapackage.json:
"author": "XX YY<xxyy@xyz.com>"
[code]
located at
https://s3.amazonaws.com/datastore.openspending.org/ ...  /fdptest/datapackage.json
If the author field of the datapackage.json or the whole datapackage.json or its URL can be retrieved by the LP-ETL API, we have the mail address

[2017-02-13 11:19] jakubklimek commented on #25
I think it should be the other way around. The "manager" (the proposed new SW) should pair the OS user (and his email) and the execution ID (to be monitored), since OS creates the execution and passes the data package to LP-ETL. Extracting the datapackage.json from LP-ETL when it is being sent there by OS in the first place does not seem efficient.

[2017-02-13 11:33] jindrichmynarz commented on #25
Moreover, is the user that triggers the pipeline execution always the same as the `author` in FDP descriptor? I think users can take FDPs made by others and convert them to RDF. The user to notify should be better provided via OS.

[2017-02-14 09:17] schmaluk opened #26 "Graphnames for auxiliary data"
Hello,
would be great to have the graphnames for https://github.com/openbudgets/auxiliary-data preferably in one of the formats: ttl + ttl.graph or trig for importing the datasets into Virtuoso.
But would be ok just to send me the graphnames for all the files.
(1) For Codelists we have for example these graphnames:
http://data.openbudgets.eu/resource/codelist/estructura_financiacion_i_aragon_2011

[2017-02-14 10:18] schmaluk opened #27 "Dumps folder Cleanup"
I'd like to clean up the dumps folder http://eis-openbudgets.iais.fraunhofer.de/dumps/ and leave just the datasets in their latest version which will be also in the new cleaned-up Virtuoso instance (i.e. atm just Aragorn & Greek datasets). If you disagree, please let me know.
(There is a backup of the dumps-folder however.)
If you want to have other datasets files there available, please let me al

[2017-02-16 11:07] marek-dudas commented on #25
During today's tech-call, we agreed with @pwalsh not to expose the OS users' emails and just add status info directly into the OS packager/admin interface. The user could login later and re-check whether the pipeline finished successfuly. @jakubklimek, is there documentation of the abovementioned LP-ETL API for getting the pipeline execution progress info? Or maybe even better, could you get in to

[2017-02-16 11:09] pwalsh commented on #25
@jakubklimek @akariv

We agreed something like this should work (please both confirm, and @jakubklimek also we'd need to know how to do this with LPETL APIs):

- Packager sends the payload
- LPETL gives an identifier
- Packager polls an endpoint from LPETL at intervals, using the identifier, to get the state of the pipeline
- Presumably three states are useful: pending, success, failure
- OS then

[2017-02-16 11:57] akariv commented on #25
This is done via OS-Admin but other than that this sounds good.

One thing to note is that we'll do it on the client side, so this state will not persist across page refreshes.

[2017-02-16 12:15] jakubklimek commented on #25
I dont recall if we discussed this before, but this is definitely possible.
There are currently two ways to do this (as the current LP-ETL frontend does it)
1) The easiest is the list of all executions, including their statuses. With an execution ID, one can find his execution and its status: http://demo.etl.linkedpipes.com/resources/executions
2) Then there is detailed info of a specific executio

[2017-02-16 16:32] pwalsh commented on #25
@jakubklimek can LPETL use an identifier that OS-Admin can pass? Then, OS-Admin can poll as per my original outline, and we don't have a page refresh problem as per the comment from @akariv

[2017-02-16 16:50] jakubklimek commented on #25
@pwalsh When OS runs the FDP2RDF pipeline (creates its execution), the execution ID (created in LP-ETL) is returned and can be used to determine the status of the execution via one of the two ways described above.

If I understand it correctly, you would like it the other way around? I.e. the ID to be created in OS-Admin, passed to LP-ETL and used by OS-Admin to determine the execution status?

[2017-02-16 17:06] pwalsh commented on #25
@jakubklimek yes, it would be useful, if it is possible.

[2017-02-17 12:01] schmaluk commented on #26
Thanks a lot @larjohn . Uploaded them to the fresh Virtuoso DB.

[2017-02-17 12:01] #26 closed, assigned to larjohn, schmaluk

[2017-02-17 13:04] schmaluk commented on #27
Cleaned up a bit:
http://eis-openbudgets.iais.fraunhofer.de/dumps/

[2017-02-17 13:04] #27 closed, assigned to jindrichmynarz, larjohn, fathoni, skarampatakis, marek-dudas, schmaluk

[2017-02-19 16:46] jakubklimek commented on #25
@pwalsh OK, then it should look like this:
1. OS-Admin creates and ID and sends it along with FDP to LP-ETL for processing
2. OS-Admin polls LP-ETL using this ID for execution status
right?

How will this ID look like? OS-Admin will then be responsible for generating unique IDs?

[2017-02-20 06:43] pwalsh commented on #25
@jakubklimek yes, this would allow OS-Admin to retrieve  pipeline static without having its own database. I imagine that, on submitting an FDP descriptor to LPETL, OS Admin could create a hash from the descriptor, and pass that as the "job ID" and use the same hash to poll for status. This then means that even with page reloads etc, the Admin can still generate the same hash to poll LPETL.

@akari

[2017-02-20 06:51] jakubklimek commented on #25
@pwalsh This would mean that the hash would be always the same for the same descriptor, i.e. not unique for individual executions. Therefore, before each run of the pipeline, the old execution would have to be deleted or something like that

[2017-02-20 06:59] pwalsh commented on #25
@jakubklimek good point. It makes me think that we should also use this to ensure that a user does not trigger multiple executions for the same descriptor. i.e., OS Admin can poll before a new submission, if the hash has a pipeline status of anything but success, then, tell the user that she can't trigger a new job as there is already one in process.

[2017-02-20 07:01] pwalsh commented on #25
If the above works, it reduces load on LP-ETL, but if you need a guarantee that the hash is a unique identifier, we could possibly hash with descriptor + timestamp or something.

[2017-02-20 07:30] jindrichmynarz commented on #25
Why not use a UUID?

[2017-02-20 07:33] jakubklimek commented on #25
@pwalsh This is not currently supported in LP-ETL so we would need to develop it anyway, it is just a question of specification. But including a timestamp in the hash would negate the original motivation, as you would need to store the timestamp somewhere right?

@jindrichmynarz The same problem with UUID, the used UUID would need to be additionally stored by OS-Admin, therefore it is similar to s

[2017-02-20 07:34] jindrichmynarz commented on #25
Ah, I see, OS would not persist it on page reloads.

[2017-02-20 07:35] jindrichmynarz commented on #25
From the architectural standpoint, I think LP-ETL is responsible for the execution process, so it should be responsible for providing it with an identifier. Does it really take that much server-side code in OS to persist the execution ID over page reloads?

[2017-02-20 07:48] pwalsh commented on #25
ok, I talked with @akariv and we'll just use the ID provided by LP-ETL.

[2017-02-20 08:40] akariv commented on #25
Sorry for not following properly on this thread - but this got very complicated real quick :)
Unless it's an absolute requirement, the page refresh persistence is something that I would definitely drop. To implement it would incur either (1) to persist execution ids on the server, which I don't want to do or (2) to poll LP-ETL for execution status on page load for every dataset for every user.
Bot

[2017-02-20 12:02] marek-dudas commented on #25
Ok then. Maybe there could be some note like "If you leave this page, you won't get informed about the execution status anymore" included in the OS-Admin?

[2017-02-20 12:16] akariv commented on #25
Sure thing.

On Mon, Feb 20, 2017, 14:02 Marek Dudas <notifications@github.com> wrote:

[2017-02-20 12:43] jindrichmynarz commented on #25
If persistence across multiple requests is required, while maintaining server side state is undesirable, how about persisting pairs of LP-ETL execution ID and OS ID in `Window.localStorage`?

[2017-02-20 12:45] akariv commented on #25
If persistence is required, we'll store it on the server.

But is it required? What's the use case? Who is the user? How frequently will this feature be used?

[2017-02-20 12:49] jindrichmynarz commented on #25
The issue of persistence was originally brought up by @pwalsh [above](https://github.com/openbudgets/platform/issues/25#issuecomment-280382647), but I don't think it is required at this point.

[2017-02-21 13:11] schmaluk opened #28 "Problem with bulk upload in Virtuoso"
The bulk upload does not work properly yet.
It hangs.
Maybe you might have an advice for me what I can do differently.
Would be much appreciated.

This is my virtuoso.log:
[code]
This is my script:
https://raw.githubusercontent.com/openbudgets/integration/master/docker-config/virtuoso/cronjobs/importFromTrig

Here my virtuoso.ini:
https://raw.githubusercontent.com/openbudgets/integration/master/do

[2017-02-21 13:15] jakubklimek commented on #28
Unfortunately this is a known issue with Virtuoso (I reported it first in 2014) and it is still unsolved. When this happens, I usually need to restart the virtuoso instance.
https://github.com/openlink/virtuoso-opensource/issues/165
https://github.com/openlink/virtuoso-opensource/issues/271

[2017-02-21 13:28] jindrichmynarz commented on #28
Then it is probably better to avoid using multiple threads to load data. I don't think that the performance slowdown will matter for our use cases.

[2017-02-21 16:24] #28 closed, assigned to jindrichmynarz, jakubklimek, schmaluk

[2017-02-21 16:24] schmaluk commented on #28
Thanks it works now with the restart.

[2017-02-21 16:49] jindrichmynarz commented on #28
Moreover, isn't it better to leave some cores for handling query load while new data is loaded? I think single-threaded loading should be fine.

[2017-02-21 16:54] schmaluk commented on #28
Hello yes, I think that it is single threaded atm.
There is just a single call of rdf_loader_run() in the import-scripts at least.

[2017-03-15 15:29] schmaluk opened #29 "Indigo not working"
Currently neither master branch and cutting edge branch are not working.

[2017-03-15 15:38] schmaluk opened #30 "OS-Explorer issues at Fhg"
http://eis-openbudgets.iais.fraunhofer.de/explorer

- Remove/Substitute Mr Placeholder as Owner
- Imported datasets by the FDP-to-RDF-pipeline are not shown up in the OS-Explorer Search
- Links in the Search in OS-Explorer are directing to next.openspending.org and not to eis-openbudgets.iais.fraunhofer.de

[2017-03-15 15:53] schmaluk opened #31 "OS Viewer issues in OBEU"
- Message showing up: "You have selected no Datasets" even if there is a dataset selected
- Set refreshing of the Cache in Rudolf to 30 mins intervals via Cronjobs

[2017-03-15 18:46] larjohn commented on #29
Do you need any help on this? What is the error?

What is the URL of the application?

[2017-03-16 12:23] skarampatakis opened #32 ""Codelist" like selection of organization while uploading data through OS Packager"
@pwalsh
When uploading data through OS Packager at some point you choose the Continent, Country and City which the dataset refers to.

![image](https://cloud.githubusercontent.com/assets/2419820/23994725/e9bc6b7a-0a4e-11e7-8b1f-cdc9435fd0cd.png)

Continent and City already use a predefined codelist, but when it comes for the City, you can only use free text.

From my POV, we could improve this beh

[2017-03-16 14:15] pwalsh commented on #32
@skarampatakis we'd certainly be happy for a pull request on OS Packager that can use a filtered code list for cities as well, either by using the data already in [cosmopolitan](https://github.com/openspending/cosmopolitan), extending it, or using an alternate source, especially if it is trivial, as you say.

However, first we'd need a spec/requirements for how this would work, and not only in ter

[2017-03-16 16:12] skarampatakis commented on #32
I see that there is already a cities endpoint

http://cosmopolitan.openspending.org/v1/cities/

but it returns an error.

If I understand correctly it already imports data from Geonames. It could be extended to support other Data sources as well.

On all these sources entities have unique identifiers. Ie in Geonames http://sws.geonames.org/264371/
is Athens. On the Data Package side there is the f

[2017-03-16 16:28] pwalsh commented on #32
Yes, that is the idea.

[2017-03-17 10:51] schmaluk commented on #29
Hello @larjohn
the URL is: http://eis.openbudgets.iais.fraunhofer.de/indigo
I use this https://raw.githubusercontent.com/openbudgets/integration/master/docker-config/indigo/environment.ts
and this https://raw.githubusercontent.com/openbudgets/integration/master/docker-config/indigo/index.html
for defining a basePath.
I see this in the logs:
[code]

[2017-03-17 10:56] schmaluk commented on #29
It seems that the basePath is not /indigo. Within the Indigo container I get the the Indigo website via
[code]
But it should be:
[code]

[2017-03-17 13:00] skarampatakis opened #33 "RDFBrowser not working"
Hi,
I am trying to access a resource
http://data.openbudgets.eu/data/dataset/budget-athens-expenditure-2008

It returns an error related to SQLite.
[code]

This might be because of a missing php module?

http://php.net/manual/en/sqlite.installation.php

[2017-03-17 16:42] schmaluk commented on #33
Hello @skarampatakis should be fixed by now.

[2017-03-18 20:55] larjohn commented on #29
It should now work. There were some dependency versioning issues (typical with angular & typescript).

[2017-03-20 12:19] schmaluk commented on #29
Im getting this with the cutting edge branch:
[code]
Also it seems to be necessary to adapt the angular-cli.json to:
[code]
This is my configuration: https://github.com/openbudgets/integration/tree/master/docker-config/indigo
There is another internal testing review this Wednesday. It would be great if we'll be able to test the new version of Indigo.
Thank you.

[2017-03-20 15:52] schmaluk commented on #30
* Mr. Placeholder: https://github.com/openbudgets/rudolf/issues/23
* fixed: Links in the Search in OS-Explorer are directing to next.openspending.org and not to eis-openbudgets.iais.fraunhofer.de

[2017-03-20 17:26] schmaluk commented on #31
* done: Set refreshing of the Cache in Rudolf to 30 mins intervals via Cronjobs
Refreshing of the Cache in Rudolf is necessary for the new result showing up at the endpoint: http://eis-openbudgets.iais.fraunhofer.de/search/package

[2017-03-20 21:08] larjohn commented on #29
Can I try this at a live server, from command line? This sounds like older remains of npm module are preventing it to run correctly.

[2017-03-21 13:04] schmaluk commented on #29
Hi, thanks. I removed older version & updated angular-cli. Now Im seeing this:
[code]
Yes but alternatively you can try to run Indigo within a Docker container since it will run then on the live server as well probably.
(If I get a working Dockerfile for Indigo, I can also use that one rather the one in the integration-repo.)
* Checkout the integration-repository: https://github.com/openbudgets/in

[2017-03-21 15:23] schmaluk opened #34 "Datasets not shown in OS-Viewer"
Hello @fathoni, CC: @larjohn
just a small thing. (Not urgent probably)

some of the datasets (for example: Aragon 2006) are not properly shown in the OS-Viewer:
http://eis-openbudgets.iais.fraunhofer.de/viewer/aragon-2006-expenditure__a0a36?lang=en

The facts-endpoint in Rudolf seems not to return the whole datasets:
http://eis-openbudgets.iais.fraunhofer.de/api/3/cubes/aragon-2006-expenditure__a0

[2017-03-21 15:49] schmaluk commented on #34
It seems those datasets are effected as well:
http://eis-openbudgets.iais.fraunhofer.de/viewer/budget-heraklion-expenditure-2015__a9652?lang=en
http://eis-openbudgets.iais.fraunhofer.de/viewer/budget-heraklion-expenditure-2014__afb8a?lang=en
http://eis-openbudgets.iais.fraunhofer.de/viewer/budget-heraklion-expenditure-2013__2c4eb?lang=en
http://eis-openbudgets.iais.fraunhofer.de/viewer/budget-hera

[2017-03-21 16:17] schmaluk opened #35 "FDP-to-RDF-Datasets have no description/title in OS-Explorer"
![fdp2rdf_explorer](https://cloud.githubusercontent.com/assets/17597578/24157340/698a6efc-0e59-11e7-8959-a70f32d4f162.PNG)
It seems that the datasets imported by the FDP-to-RDF-pipeline have no title or description in the OS-Explorer.

Just an info regarding the integration: The Cache in Rudolf is refreshed every 30 mins. Only if the cache has been refreshed the datasets will show up in the OS-Exp

[2017-03-23 06:12] larjohn commented on #34
I haven't found what's going wrong yet. This will be resolved during the weekend so please continue with the other datasets.

[2017-03-23 10:18] skarampatakis commented on #33
Yes it is fixed. If you could perform an update on RDFBrowser it would be perfect. I have made some performance improvements.

[2017-03-23 10:18] #33 closed, assigned to nobody

[2017-03-24 09:34] larjohn commented on #34
Regarding the Aragon 2006 dataset, the facts are missing the qb:Observation type:

`describe <http://data.openbudgets.eu/resource/dataset/aragon-2006-expenditure/observation/10>
`

[2017-03-24 11:48] larjohn commented on #34
Regarding the Heraklion datasets, they define `http://data.openbudgets.eu/ontology/dsd/greek-municipalities/dimension/budgetPhase` as a dimension but use `http://data.openbudgets.eu/ontology/dsd/dimension/budgetPhase` instead

[2017-04-06 09:40] marek-dudas commented on #35
So could someone tell me where does OS-Explorer search for the dataset name, publisher, description or anything else that is not shown, so I can check the FDP2RDF output? It might be just the case that the name&description ends up in a different property value than expected by OS-Explorer.

[2017-04-20 10:27] marek-dudas commented on #35
The latest update of FDP-to-RDF pipeline, commited yesterday and to-be-deployed on the Fraunhofer server, might fix this as it outputs dataset metadata more accurately. However, it would still be helpful to know what are the properties and values OS-explorer needs to display dataset info properly - as I asked above.

[2017-04-25 18:02] skarampatakis opened #36 "OS-Viewer not working"
Hi, I am trying to access a dataset from the OS-explorer. Explorer seems to be working.
Clicking on a dataset redirects on OS-Viewer. But then it stacks on loading. Please find below the console messages.

[code]

Neither this [link](http://eis-openbudgets.iais.fraunhofer.de/viewer/budget-thessaloniki-revenue-2011__80bce?lang=en&measure=amount.sum&groups%5B%5D=economicClassification.notation&filte

[2017-04-25 20:21] larjohn commented on #36
Also referenced [here](https://github.com/openbudgets/rudolf/issues/22#issuecomment-296662238)

[2017-04-27 08:50] liyakun commented on #29
@larjohn I tested Indigo by accessing it directly through docker container ip address `http://172.17.0.2/#/indigo/,` which seems working correctly. But by accessing "localhost/indigo/" it output the 404 error when accessing "inline.bundle.js". Do you know which part of the configuration probably causes this problem? thanks.

![indigo](https://cloud.githubusercontent.com/assets/7370334/25476896/ec1

[2017-04-27 09:55] larjohn commented on #29
I havent seen something like that yet. How to reproduce the situation? Is this the case in the Fraunhofer server so that I can check it?

[2017-04-27 09:57] liyakun commented on #29
@larjohn My previous comment is not every concrete, I took the docker configurations of Indigo from [integration](https://github.com/openbudgets/integration.git), and run the docker stand alone. The 404 error happens on both Fraunhofer server and local deployment.

[2017-04-29 22:00] larjohn commented on #29
@liyakun  I made a couple of changes to the dockerfile and now, locally it seems to be working ok, even the CSS. Can you try it? I am not sure how to try if it is accessible outside.

[2017-04-29 23:27] liyakun commented on #29
@larjohn thanks, it seems that the local deployment working now. I will update changes on the server once I have access to it.

[2017-05-01 08:26] larjohn commented on #36
@liyakun I have made a couple of commits in the integration repo, to change where the authentication requests go.

Obviously they are not going to work directly. First, let's try to make http://eis-openbudgets.iais.fraunhofer.de/user/lib work as expected - you need to allow this to reach rudolf through nginx. I am not aware how to do this myself. When successful, a javascript file will be availabl

[2017-05-02 09:49] liyakun commented on #29
@larjohn Indigo is working on the server after your last changes, thanks.

[2017-05-02 09:49] #29 closed, assigned to pierorex, schmaluk

[2017-05-05 16:15] liyakun commented on #36
@larjohn I configured nginx to make http://eis-openbudgets.iais.fraunhofer.de/user/lib reach rudolf, now os-viewer is working, thank you very much. I am not sure should we keep this issue open until a better solution is found.

[2017-05-12 14:44] skarampatakis opened #37 "Update RDFBrowser"
Hi @wk0206,

could you update the RDFBrowser to the latest version? It seems that till now an outdated version is used.

[2017-05-19 13:10] #2 closed, assigned to schmaluk

[2017-05-23 17:58] jindrichmynarz commented on #35
I think this question needs clarification, at least for me.

It seems to me that the issue is not about OS Explorer, but instead about Rudolf that provides the OS Explorer with data sourced from the RDF datasets produced by the FDP to RDF pipeline. If I understand this correctly, the question is what metadata is required by Rudolf to be able to produce these views? @larjohn, can you tell?

[2017-05-23 21:11] skarampatakis commented on #35
From what I have found, is that rudolf uses a query like this to get the dataset titles along wih other data.
[code]
So the language tag is used to construct the titles. Datasets from FDP2RDF do not have a language tag along with the dc:title property. Either this should be relaxed inside rudolf, or define a language tag for the property literal value. However, this would require to somehow define

[2017-05-24 06:41] jindrichmynarz commented on #35
Is `{language1}={title1}||{language2}={title2}` format what OS Viewer requires?

[2017-05-24 07:24] skarampatakis commented on #35
I suppose so. If you run this query on virtuoso you will see the results and notice that in datasets from FDP2RDF the result is just "=dataset". So either rudolf should set a default or the pipeline.

[2017-05-24 08:14] marek-dudas commented on #35
Thanks for the analysis. So since OS-Packager UI is English only and there is no way of defining language in FDP, I suppose I can add English language tag to metadata literals in the pipeline by default.

[2017-05-24 08:38] jindrichmynarz commented on #35
Is the problem a missing language tag or missing dataset title?

I don't think adding `@en` by default is a good solution, since non-English labels are also quite prominent. I think this is a presentation issue. The logic what to do when no English label is available should be a part of OS Viewer.

[2017-05-24 08:56] pwalsh commented on #35
The Viewer supports translations. We have several already. More can be contributed:

https://github.com/openspending/os-viewer/tree/master/translations

These are translations of the *app* interface. We don't support translations in the data itself, in Fiscal Data Package, and by extension, all the tools that depend on it.

[2017-05-24 09:05] jindrichmynarz commented on #35
If translations in data are not supported by OS Viewer, then why is Rudolf producing labels annotated with language tags?

[2017-05-24 09:07] pwalsh commented on #35
No idea.

[2017-05-24 09:50] pwalsh commented on #1
@badmotor I'm closing this. It must be out of date, and any specific issues can be raised with distinct issues.

[2017-05-24 09:50] #1 closed, assigned to badmotor, schmaluk

[2017-05-24 09:50] pwalsh commented on #3
@badmotor I'm closing this. It must be out of date, and any specific issues can be raised with distinct issues, which has been happening over on the pipeline-fragments repo to date.

[2017-05-24 09:50] #3 closed, assigned to akariv, badmotor, jakubklimek, HimmelStein, schmaluk

[2017-05-24 09:51] pwalsh commented on #4
@badmotor @larjohn I'm closing this. It must be out of date, and any specific issues can be raised with distinct issues.

[2017-05-24 09:51] #4 closed, assigned to badmotor, larjohn, fathoni, schmaluk

[2017-05-24 09:51] pwalsh commented on #5
@badmotor @marek-dudas I'm closing this. It must be out of date, and any specific issues can be raised with distinct issues.

[2017-05-24 09:51] #5 closed, assigned to akariv, HimmelStein, marek-dudas, schmaluk

[2017-05-24 09:52] pwalsh commented on #6
@badmotor I'm closing this. It must be out of date, and any specific issues can be raised with distinct issues.

[2017-05-24 09:52] #6 closed, assigned to jindrichmynarz, jakubklimek, HimmelStein, marek-dudas, schmaluk

[2017-05-24 09:52] pwalsh commented on #12
@badmotor @HimmelStein @jakubklimek @jindrichmynarz

I'm closing this. It must be out of date, and any specific issues can be raised with distinct issues.

[2017-05-24 09:52] #12 closed, assigned to schmaluk

[2017-05-24 09:53] pwalsh commented on #13
@badmotor @jakubklimek @jindrichmynarz  I'm closing this. It must be out of date, and any specific issues can be raised with distinct issues.

[2017-05-24 09:53] #13 closed, assigned to jindrichmynarz, HimmelStein, schmaluk

[2017-05-24 09:53] pwalsh commented on #14
@badmotor I'm closing this. It must be out of date, and any specific issues can be raised with distinct issues.

[2017-05-24 09:53] #14 closed, assigned to jindrichmynarz, vojir, HimmelStein, schmaluk

[2017-05-24 09:53] pwalsh commented on #15
hmmm.

@badmotor I'm closing this. It must be out of date, and any specific issues can be raised with distinct issues.

[2017-05-24 09:53] #15 closed, assigned to jindrichmynarz, akariv, jakubklimek, pwalsh, larjohn, fathoni, HimmelStein, marek-dudas, schmaluk

[2017-05-24 09:54] pwalsh commented on #16
@badmotor I'm closing this. It must be out of date, and any specific issues can be raised with distinct issues.

[2017-05-24 09:54] #16 closed, assigned to jindrichmynarz, jakubklimek, larjohn, fathoni, skarampatakis, HimmelStein, marek-dudas, schmaluk

[2017-05-24 09:54] pwalsh commented on #17
@badmotor I'm closing this. It must be out of date, and any specific issues can be raised with distinct issues.

[2017-05-24 09:54] #17 closed, assigned to jindrichmynarz, akariv, jakubklimek, pwalsh, larjohn, HimmelStein, schmaluk

[2017-05-24 09:54] pwalsh commented on #18
was done

[2017-05-24 09:54] #18 closed, assigned to akariv, pwalsh, larjohn, schmaluk

[2017-05-24 09:55] pwalsh commented on #19
@badmotor I'm closing this. It must be out of date.

[2017-05-24 09:55] #19 closed, assigned to jindrichmynarz, larjohn, schmaluk

[2017-05-24 09:55] #20 closed, assigned to schmaluk

[2017-05-24 09:56] pwalsh commented on #22
@jindrichmynarz @larjohn @badmotor

Should this be kept open, for action, or not.

If it should be actioned, let's assign a single person with responsibility.

[2017-05-24 09:56] pwalsh commented on #24
@jindrichmynarz @skarampatakis @badmotor

Should this be kept open, for action, or not.

If it should be actioned, let's assign a single person with responsibility.

[2017-05-24 09:57] pwalsh commented on #25
Under review from another angle now.

[2017-05-24 09:57] #25 closed, assigned to jindrichmynarz, badmotor, jakubklimek, pwalsh, larjohn, fathoni, marek-dudas, schmaluk

[2017-05-24 09:57] pwalsh commented on #30
@badmotor

Should this be kept open, for action, or not. If it should be actioned, let's assign a single person with responsibility, and get an estimate on time and due date.

[2017-05-24 09:58] pwalsh commented on #31
Seems to be fixed.

[2017-05-24 09:58] #31 closed, assigned to pierorex, schmaluk

[2017-05-24 09:59] pwalsh commented on #32
At OKI, we've love this implemented, in Cosmopolitan, and in the Packager. In discussions with @skarampatakis he has indicated he would work on this functionality. Closing this issue as it is duplicated elsewhere.

[2017-05-24 09:59] #32 closed, assigned to nobody

[2017-05-24 10:00] pwalsh commented on #34
@badmotor @larjohn @skarampatakis

Should this be kept open, for action, or not. If it should be actioned, let's assign a single person with responsibility, and get an estimate on time and due date.

[2017-05-24 10:10] pwalsh commented on #35
@badmotor @larjohn

Should this be kept open, for action, or not. If it should be actioned, let's assign a single person with responsibility, and get an estimate on time and due date.

[2017-05-24 10:11] pwalsh commented on #36
@badmotor closing this. looks finished.

[2017-05-24 10:11] #36 closed, assigned to nobody

[2017-05-24 10:14] pwalsh commented on #37
@badmotor @skarampatakis

Who is responsible for this? Can we get a due date, etc.

[2017-05-24 10:27] skarampatakis commented on #37
I think it is on the Fraunhofer side.

[2017-05-24 10:37] pwalsh commented on #37
@liyakun is this something you will do, and, when?

[2017-05-24 10:50] liyakun commented on #37
@pwalsh thanks for your remind, I just updated the RDFBrowser on Fraunhofer server.

[2017-05-24 11:17] #37 closed, assigned to liyakun

[2017-05-24 12:07] jindrichmynarz commented on #22
@larjohn, is this still a problem in Rudolf?

[2017-05-24 14:22] skarampatakis opened #38 "RDFBrowser not working properly after update"
It seems that there is a missing library and RDFBrowser fails to render observation's
For instance check this

http://data.openbudgets.eu/data/dataset/budget-athens-expenditure-2005/observation/1

That is the mbstring module for PHP, as the defined https://laravel.com/docs/5.4#server-requirements

- PHP >= 5.6.4
- OpenSSL PHP Extension
- PDO PHP Extension
- Mbstring PHP Extension
- Tokenizer PHP E

[2017-05-24 15:14] liyakun commented on #38
@skarampatakis it seems the problem is that mbstring is not enabled, could you check whether the current running RDFBrowser is working as expected?

[2017-05-24 15:21] skarampatakis commented on #38
Yes. Now it's perfect. Thank you!

[2017-05-24 15:23] liyakun commented on #38
@skarampatakis great, thank you for reporting.

[2017-05-24 15:23] liyakun commented on #38
@skarampatakis great, thank you for reporting.

[2017-05-30 09:30] liyakun opened #39 "os-packager authentication issue"
When a user click on the "Login" or "Register" button, the user will be redirect to http://eis-openbudgets.iais.fraunhofer.de/logged-in?jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyaWQiOiI1NTM3MTA0YTkwMmIwODQ3YmI3YjQ3NDIyNWVjZWQ1YSIsImV4cCI6MTQ5NzM0NjA4OH0.2UU4MX1AHqj6qYlFrLfvAckfnnxO311-_GS0mEufnZo#
which is 404 Nor Found error.

@akariv @pwalsh Do you probably know the reason? thanks.

[2017-06-01 09:43] larjohn commented on #35
This will be fixed soon.

[2017-06-01 09:59] pwalsh commented on #39
Hi @liyakun

This issue duplicates this one: https://github.com/openspending/openspending/issues/1238

So I'll close this, and we'll track it there.

@akariv please schedule this in for fixing asap.

[2017-06-02 05:18] skarampatakis opened #40 "OS Viewer: Hierarchies not working?"
@larjohn
In this [dataset](http://eis-openbudgets.iais.fraunhofer.de/viewer/budget-thessaloniki-revenue-2011__80bce?measure=%22amount.sum%22&groups%5B%5D=%22economicClassification.notation%22&filters%5BbudgetPhase.budgetPhase%5D%5B%5D=%22http:%2F%2Fdata.openbudgets.eu%2Fresource%2Fcodelist%2Fbudget-phase%2Fapproved%22&order=%22amount.sum%7Cdesc%22&visualizations%5B%5D=%22Treemap%22&lang=en) if you

[2017-06-02 05:30] skarampatakis opened #41 "OS Viewer: too many items on particular views"
In some cases. graphs contain multiple items as parts. It is really cool for the treemap or the bubble chart but when it comes to the pie chart or the radar chart, it renders uselless hard to read and understand graphs. Take a look [here](http://eis-openbudgets.iais.fraunhofer.de/viewer/embed/piechart/budget-thessaloniki-revenue-2011__80bce?measure=%22amount.sum%22&groups%5B%5D=%22economicClassifi

[2017-06-02 05:34] skarampatakis opened #42 "OS Viewer: Localization of the interface"
Currently interface of OS viewer is only shown in English. How can we change UIs language to match user preferences? Is it already i18n capable?

[2017-06-02 05:34] pwalsh commented on #41
@skarampatakis I think we addressed this recently. @akariv @vitorbaptista can you confirm?

[2017-06-02 05:36] pwalsh commented on #42
@skarampatakis this is already supported as I mentioned in a related thread. It would be much easier if you open issues like this on the openspending issue tracker so the whole team there sees it.

See the pattern for adding UI translations at https://github.com/openspending/os-viewer/tree/master/translations

[2017-06-02 05:37] pwalsh commented on #41
Was dealt with in this commit by the looks of it https://github.com/openspending/os-viewer/commit/2c1f3e810aac13647407fb67704fe44f76d7a0ea

[2017-06-02 05:54] skarampatakis commented on #42
@pwalsh Thanks, You are right, I just remembered that you referred it somewhere. I will try to add translations in Greek the sooner possible. But this is only for the Viewer, right?

I opened this issue as a question actually. I see that in every OS viewer url there is a "lang" variable. But this is retrieved by the browser settings? Can you change language from the interface or just change the la

[2017-06-02 06:02] skarampatakis commented on #41
@liyakun could you update the OS Viewer on the platform?

@pwalsh yes, just saw it looking for the translations. But it is not used on the next.openspending.org platform yet and is only for the pie chart?.

Also on the commit message it is referred that

sense to drill down in multiple categories.

Could it be possible to have a behaviour as I described above?

[2017-06-02 09:05] pwalsh commented on #41
If you can open a dedicated issue on the OpenSpending tracker then it is easier for all the team to see (not everyone on OpenSpending team is on openbudgets).

[2017-06-02 09:07] pwalsh commented on #42
It needs to be set via the query params. Detection based on browser settings is extremely annoying in many use cases. If you want detection based on browser, we could open a feature request I suppose, and have that option behind an env var.

[2017-06-02 09:50] liyakun commented on #41
@skarampatakis The os-viewer has been updated on the Fraunhofer server to latest version https://github.com/openspending/os-viewer/commit/3823010f561ef100a27684be7d6d0ec720371f23.

[2017-06-02 09:52] skarampatakis commented on #41
Great! Thanks @liyakun .

[2017-06-02 09:52] #41 closed, assigned to nobody

[2017-06-02 09:59] skarampatakis opened #43 "OS Viewer: Download Data Package Function"
Current behavior of the "Download Data Package" button is to redirect the user to the dumps folder.
It could make more sense if it could give the option to get the dataset in various formats (FDP, RDF, zip)

[2017-06-04 07:04] akariv commented on #39
This seems to be a local installation issue - as it does not replicate on
the staging and production setups.

On Thu, 1 Jun 2017 at 12:59 Paul Walsh <notifications@github.com> wrote:

[2017-06-07 11:31] #42 closed, assigned to nobody

[2017-06-07 11:33] skarampatakis opened #44 "Viewer giving same color on all tiles"
All tiles have the same blueish color

http://tinyurl.com/ya96wdur

[2017-06-08 13:15] skarampatakis commented on #40
Any update?

[2017-06-08 13:23] liyakun commented on #43
@skarampatakis I think this probably should be done by openspending, as os-explorer on OpenBudgets is deployed by directly using the code from https://github.com/openspending/os-explorer.

[2017-06-08 13:36] skarampatakis opened #45 "Login from packager landing page throws error, but works at any other step"
When try to login from
```http://eis-openbudgets.iais.fraunhofer.de/packager/```
using the top right login button I get a 404.

But if I am at ```http://eis-openbudgets.iais.fraunhofer.de/packager/provide-data``` after get started and then click on the login button I get logged successfully.

[2017-06-08 13:46] skarampatakis commented on #43
I think this is configured somewhere  [here](https://github.com/openbudgets/integration/blob/master/docker-config/os-viewer/obeu_specific/template.html).

Original OS Viewer behavior is to show two links, one for the raw data and one for the datapackage.

![image](https://user-images.githubusercontent.com/2419820/26931699-0d0adf1e-4c6a-11e7-913f-9d3e5e2f930f.png)

[2017-06-08 13:50] pwalsh commented on #43
Hi.

We have a low priority backlog item for [creating ZIP downloads](https://github.com/openspending/openspending/issues/898) on Openspending, but we likely will not do this ourselves, as this can be very resource intensive for little gain.

For RDF, as the vast majority of data used in the Viewer generally does not have an RDF representation, we wouldn't add it as a general option on the Viewer,

[2017-06-08 14:08] skarampatakis commented on #43
I see also ZIP files as low priority. But the rest is doable with ease. just add another
[code]
on the template and somehow feed the link href with the proper path.

Something like [that](https://github.com/openspending/os-viewer/blob/master/app/front/scripts/directives/package-info/template.html)

I agree that this is OBEU specific and that's the purpose of ```obeu-specific``` folder on OS-VIewer

[2017-06-09 11:35] larjohn commented on #40
I need some more time. Please be patient.

[2017-06-09 12:30] liyakun commented on #45
@skarampatakis I have created this issue before, see https://github.com/openbudgets/platform/issues/39, but did't get time to check exactly how this happen.

[2017-06-12 06:56] pwalsh opened #46 "Use apps.openbudgets.eu ; not eis-openbudgets.iais.fraunhofer.de"
# Description

`eis-openbudgets.iais.fraunhofer.de` is not communicative. I suggest we use the domain `apps.openbudgets.eu` as the entry point to the OpenBudgets.eu apps instead. I've set up a CNAME record for this, so if it is agreed, then there is just one task to do on the server (details below).

# Tasks

- [ ] Update the frontend servers at Fraunhofer to accept `apps.openbudgets.eu` where `ei

[2017-06-12 06:59] pwalsh opened #47 "http://data.openbudgets.eu has no useful response"
# Description

When a user stumbles upon `http://data.openbudgets.eu` there is no data. I assume that, given a correct URL to a dataset, there is a response, powered by OKGR's RDF browser. If the root of the domain has no placeholder, or just a list of datasets, then how about we redirect requests to the root to the location of indigo, so that users can navigate datasets.

# Tasks

- [ ] redirect

[2017-06-12 07:00] pwalsh commented on #24
Closing, as no clear responsibility.

[2017-06-12 07:00] #24 closed, assigned to jindrichmynarz, badmotor, larjohn, fathoni, skarampatakis, schmaluk

[2017-06-12 07:00] pwalsh commented on #22
@larjohn @skarampatakis please advise.

[2017-06-12 07:00] pwalsh commented on #30
@pierorex @liyakun is someone responsible for this issue?

[2017-06-12 07:01] pwalsh commented on #34
Closing as no clear responsibility, and, it seems that, as discussed elsewhere, this is an issue of what data is available from the APIs.

[2017-06-12 07:01] #34 closed, assigned to larjohn, fathoni, schmaluk

[2017-06-12 07:02] pwalsh commented on #40
@larjohn let us know if this is somewhat that the OKI team can help with.

[2017-06-12 07:18] skarampatakis commented on #47
Hi @pwalsh,
That is indeed an issue of RDFBrowser. It is a really basic 404 page. I had some plans for a landing page where users can have some overview of data within this domain and an entry point to the SPARQL endpoint. Or even some user defined links. But was postponed. I can provide an update for user defined redirection on such case as a temporal solution if it is required today, and a landi

[2017-06-12 07:21] skarampatakis commented on #46
Totally agree.

[2017-06-12 07:21] pwalsh commented on #47
@skarampatakis no worries. in that case, I would recommend that @liyakun or @pierorex just redirect requests that come for the root to indigo, which is the app we are using the browse datasets.

[2017-06-12 08:03] skarampatakis commented on #47
Just pushed an update that helps on this issue. https://github.com/okgreece/RDFBrowser/commit/07b770224ae1160a04dd1cb2e8368388c39e38ea
update the app and add

[code]

on your .env file. Replace http://example.com with whatever will be the redirect.

[2017-06-12 08:09] pwalsh commented on #47
@skarampatakis let's leave this open until it is updated on the platform (Fraunhofer server).

[2017-06-12 08:59] liyakun commented on #47
@pwalsh @skarampatakis I redirected `http://data.openbudgets.eu` to `http://eis-openbudgets.iais.fraunhofer.de/explorer/` as currently there is a problem with Indigo.

[2017-06-12 09:24] liyakun opened #48 "Indigo stopped working"
@larjohn It seems there is a problem with indigo after your updates, could you have a look when you have time? thanks.

When you access `http://eis-openbudgets.iais.fraunhofer.de/indigo/`, you will get `Invalid Host header`.

[2017-06-12 09:53] skarampatakis commented on #38
Hi @liyakun. This happens again after recent update.

please check

http://data.openbudgets.eu/data/dataset/budget-athens-expenditure-2005/observation/1

[2017-06-12 11:07] larjohn commented on #22
I am closing this as it is mostly a matter of fixing older datasets, which does not seem to be too realistic currently. Otherwise, some of the issues have indeed been fixed.

[2017-06-12 11:07] #22 closed, assigned to jindrichmynarz, jakubklimek, larjohn, marek-dudas, schmaluk

[2017-06-12 11:12] larjohn commented on #40
@skarampatakis is this information somehow explicitly available in the RDF or it should be inferred looking at the values?

[2017-06-12 11:13] larjohn commented on #46
Yes!

[2017-06-12 11:14] skarampatakis commented on #40
Yes, all information is available through the definition of the Concept Scheme, each codelist item belongs to.

[2017-06-12 11:16] larjohn commented on #48
This was expected. You should define the specific host instead of --host 0.0.0.0.
It should probably be   --host eis-openbudgets.iais.fraunhofer.de

[2017-06-12 11:18] larjohn commented on #40
Cool, this is not implemented yet. Give me a couple of days and it will be there.

[2017-06-12 11:24] pwalsh commented on #46
@liyakun seeing as several agree, I'm assigning to you. You should continue to accept requests on the current domain (Ideally by rewriting them to `apps.openbudgets.eu`), and also accept requests, as per the original issue, to `apps.openbudgets.eu`.

[2017-06-12 11:28] pwalsh opened #49 "Don't accept any old domain on the production server"
# Description

In prep for #46 I set up a CNAME for `apps.openbudgets.eu` to point to the Fraunhofer servers.

However, even with no configuration, the server will accept this domain and return a valid response, which, at time of writing, is:

[code]

Ideally, we do not want anyone on the Internet to be able to point any domain at the server. The desired configuration would be to prevent such requ

[2017-06-12 11:38] liyakun commented on #48
@larjohn do you mean change it in https://github.com/openbudgets/integration/blob/master/docker-config/indigo/start.sh?

[2017-06-12 12:32] liyakun commented on #38
@skarampatakis sorry, I forgot to update my changes to the docker file, it should work now.

[2017-06-12 12:32] #38 closed, assigned to liyakun

[2017-06-12 12:35] skarampatakis commented on #38
Yes, Thank you!

[2017-06-12 17:31] larjohn commented on #48
Yes

[2017-06-13 08:20] liyakun commented on #48
@larjohn This is strange, it works before with this setting. I think this is only for the app listening on the container port, it should have no influence on the host, right?

By the way, once I set the host to `--host eis-openbudgets.iais.fraunhofer.de`, the services on Fraunhofer server will not work.

[2017-06-13 11:37] pierorex commented on #30
Well, not me, but I think @lavdim is the one maintaining this now with @liyakun 's help, but Lavdim is on vacation now

[2017-06-13 12:13] pwalsh commented on #30
@pierorex so who is responsible at Fraunhofer for assigning tasks and so forth?

[2017-06-13 12:17] pierorex commented on #30
@pwalsh that would be Fabrizio, he's the big boss in the team

[2017-06-13 13:29] larjohn commented on #48
@liyakun this is all related to https://github.com/angular/angular-cli/issues/6070. I have tried the `disableHostCheck: true` workaround locally and it seems to work. We can go with this temporarily and go for something more convenient later on.

To sum it up, you can use     `ng serve --host 0.0.0.0 --disableHostCheck=true`

[2017-06-13 14:05] liyakun commented on #48
@larjohn great, thanks, I already updated it on the server.

[2017-06-13 14:05] #48 closed, assigned to liyakun

[2017-06-13 14:10] liyakun commented on #46
@pwalsh I redirected  `eis-openbudgets.iais.fraunhofer.de` to `apps.openbudgets.eu`.

[2017-06-13 14:11] liyakun commented on #46
@pwalsh I don't understand what you mean by

[2017-06-13 14:17] pwalsh commented on #47
I don't think you have done it correctly. Example: `apps.openbudgets.eu/explorer/` does not work.

[2017-06-13 14:19] liyakun commented on #47
@pwalsh Sorry, I misunderstood your desceiption.

[2017-06-13 14:24] pwalsh commented on #46
@liyakun not sure how else to explain - this is just basic web routing.

For example, if you have configured correctly, then `http://apps.openbudgets.eu/explorer/` should return the explorer, but it does not.

[2017-06-13 14:35] liyakun commented on #46
@pwalsh thanks, understand, it works now, some small problems should still need to be take care of.

[2017-06-13 14:41] liyakun commented on #46
@pwalsh I switched back to `eis-openbudgets.iais.fraunhofer.de` as there are some problems with some componets, will check later.

[2017-06-14 15:49] larjohn commented on #35
This has been fixed

[2017-06-15 08:15] skarampatakis commented on #35
Seems to be still an issue on OS Explorer. Should it be updated?

![image](https://user-images.githubusercontent.com/2419820/27171912-ef7598d4-51bb-11e7-8145-24a2e5a8e426.png)

[2017-06-15 09:32] larjohn commented on #35
Waiting for integration to update the docker config file

[2017-06-19 10:44] liyakun opened #50 "Rudolf not working correctly"
Rudolf does not return any result from search api.
`http://eis-openbudgets.iais.fraunhofer.de/search/package?size=10000`

[2017-06-19 12:47] larjohn commented on #50
Have you already run the search:load command? I think it is included in the
docker config but needs some time to finish.

[2017-06-20 12:47] liyakun commented on #50
@larjohn It seems that indigo default loads 100 very slow with the following api call.
`http://eis-openbudgets.iais.fraunhofer.de/search/package?q=""&size=100&from=0`

[2017-06-20 13:08] liyakun commented on #50
@larjohn It is working correctly now.

[2017-06-20 13:08] #50 closed, assigned to nobody

[2017-06-23 14:13] liyakun commented on #35
@larjohn I have updated Rudolf to the latest version on the Fraunhofer server.

[2017-06-26 20:48] larjohn commented on #35
It doesn't run so that I can check

[2017-06-26 20:51] skarampatakis commented on #35
check on apps.openbudgets.eu

Στις 26 Ιουν 2017 23:48, ο χρήστης "Lazaros Ioannidis" <
notifications@github.com> έγραψε:

[2017-06-26 20:56] larjohn commented on #35
@skarampatakis  How to make it show a package without a title?

[2017-06-27 09:32] liyakun opened #51 "Indigo stopped working"
@larjohn Indigo on the server stopped working, It gives `Cannot GET /` error while loading `http://apps.openbudgets.eu/indigo/`. Do you have any idea about why this hapen? thanks.

[2017-06-27 09:49] liyakun commented on #51
By the way, I found the following error in the docker log file:
`2017-06-27T08:45:35.677769051Z ERROR in /app/node_modules/@angular/material/typings/core/core.d.ts (1,61): Cannot find module '@angular/cdk'.
2017-06-27T08:45:35.677773894Z
2017-06-27T08:45:35.677777798Z ERROR in ./~/@angular/material/@angular/material.es5.js
2017-06-27T08:45:35.677782666Z Module not found: Error: Can't resolve '@ang

[2017-06-27 09:51] liyakun commented on #46
@pwalsh I changed the domain from `eis-openbudgets.iais.fraunhofer.de` to `apps.openbudgets.eu`.

[2017-06-27 10:06] jindrichmynarz commented on #46
When requesting <http://apps.openbudgets.eu>, the AJAX call to <http://apps.openbudgets.eu/search/package?size=10000> times out (HTTP 504).

[2017-06-27 10:07] liyakun commented on #46
@jindrichmynarz yeah, it happens, as rudolf updates every 30 minutes.

[2017-06-28 13:48] liyakun commented on #46
@pwalsh the redirection from `eis-openbudgets.iais.fraunhofer.de` to `http://apps.openbudgets.eu` has been done.

[2017-06-28 13:54] liyakun commented on #47
@pwalsh should this be keep open?

[2017-06-28 14:37] #47 closed, assigned to badmotor, liyakun, pierorex

[2017-07-06 13:48] #51 closed, assigned to nobody

[2017-07-06 13:50] liyakun commented on #30
@pwalsh @badmotor I think this can be closed now, as we decided to use Indigo to replace os-explorer on Fraunhofer server. How do you think?

[2017-07-06 15:31] liyakun commented on #30
as we are not going to use os-expolrer anymore at the Fraunhofer server, so I will close this issue.

[2017-07-06 15:31] #30 closed, assigned to pierorex, schmaluk

[2017-07-06 15:31] liyakun commented on #35
As we are not going to use os-expolrer anymore at the Fraunhofer server, so I will close this issue.

[2017-07-06 15:31] #35 closed, assigned to larjohn, schmaluk

[2017-07-06 17:08] liyakun commented on #39
@akariv I checked the issue again today and compared with the authentication on openspending.

1. Authentication on http://apps.openbudgets.eu/packager/

- As an existing user, I log out from my current login with os-packager.
- Then I click on the `Login/Register` again and I am redirected to `https://next.openspending.org/user/check?next=http:%2F%2Fapps.openbudgets.eu%2Flogged-in` in the current

[2017-07-07 15:30] liyakun commented on #43
@skarampatakis sorry for the delay in replaying and thanks for pointing me out. I checked the `obeu-specific`, I did not find a way to get the exact dataset link. If the title of the page is the same as the dataset name, then I think it is still possible to use JavaScript to get the title and further locate the dataset. Unfortunately, the title of the page in viewer is not always the same as the t

[2017-07-07 16:11] skarampatakis commented on #43
What you mean by this? Every dataset id in rudolf->OS Viewer is the same as it's filename minus the hash.

Perhaps you could only change the folder structure as you can't know where exactly that file is, because some are coming from custom pipelines where user can define whatever folder he/she wants or to the ```fromfdp``` folder, for datasets coming from the FDP2RDF pipeline.

Unless you make a `

[2017-07-07 16:20] liyakun commented on #43
@skarampatakis

For example, the dataset in page
`http://apps.openbudgets.eu/viewer/aragon-2016-expenditure__9121b?lang=en`
has title
`http://apps.openbudgets.eu/dumps/aragon-expenditure-2016.ttl`.

The title in the page and the title of the dataset does not match. If it follows the same pattern, then of course, it is still possible to locate the dataset.

[2017-07-09 20:44] larjohn commented on #40
@skarampatakis can you give an example (SPARQL preferred) that connects any two of those dimensions here:

http://data.openbudgets.eu/page/dataset/budget-thessaloniki-revenue-2011/slice/248

For your convenience, [here ](http://ws307.math.auth.gr/rudolf/public/sparql?query=%0D%0APREFIX+rdfs%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2000%2F01%2Frdf-schema%23%3E%0D%0APREFIX+qb%3A+%3Chttp%3A%2F%2Fpurl.org%2Fli

[2017-07-10 09:44] liyakun commented on #39
@akariv Currently, I use one url redirection to solve this problem.
location ~* ^/logged\-in(.*)$ {
      rewrite ^/logged\-in(.*)$ http://apps.openbudgets.eu/packager/logged-in$1 permanent;
      break;
}

[2017-07-10 09:44] #39 closed, assigned to nobody

[2017-07-10 09:47] liyakun commented on #49
@pwalsh I use the following setting to response to unknow domain request
`server {
        listen          80;
        server_name     _;
        return          444;
    }
`

[2017-07-10 09:51] liyakun commented on #45
@skarampatakis this issue should be fixed now, could you check? If it is solved please help to close the issue. Thanks.

[2017-07-10 13:02] akariv commented on #39
This issue was resolved in latest master of os-packager @liyakun

[2017-07-10 14:44] liyakun commented on #45
@skarampatakis as this problem has been fixed also in the lastest version of os-packager, I close this issue.

[2017-07-10 14:44] #45 closed, assigned to nobody

[2017-07-10 14:49] liyakun opened #52 "os-packager always "Waiting in queue for an available processor""
![image](https://user-images.githubusercontent.com/7370334/28023782-26557658-658f-11e7-8687-9a1fd93d1d36.png)
@akariv I tried to upload a file to through our deployment of [os-packager](http://apps.openbudgets.eu/packager/), but it stops in waiting for available processor, like shown in the above figure. I am not sure where the problem happens, do you have any idea?

[2017-07-10 15:09] liyakun commented on #52
It ends up in "TypeError: Failed to fetch".
![image](https://user-images.githubusercontent.com/7370334/28025025-88f6a8e2-6592-11e7-8043-7755f66d55bc.png)

[2017-07-10 16:02] skarampatakis commented on #40
I am not sure that I have understand what you request. Could you please explain more?
What I originally requested was to presesnt values as aggregations of the parents in the hierarchy, if it is available of course. For instance, in the greek case, this is applicable on the obeu-dimension:economicClassification, which represent a hierarchy.

On the dataset you have defined only the lowest level le

[2017-07-10 19:53] larjohn commented on #40
In order for this to work, at a Babbage-compatible API, the levels of the hierarchy should be mapped to specific dimensions. Then these dimensions are groupped into a single hierarchy.

For our example, additional columns should be artificially created in the original table (or in the pipeline) and then also created in the dsd and the dataset.

[2017-07-10 20:36] skarampatakis commented on #40
As this seems to be application specific, couldn't you just create these extra columns on Rudolf layer?

try a query like this
[code]
then you could just explode the hierarchies column and get your virtual columns.

Or perhaps there could be a better query but I think we can and should do this at the application logic and leave data as is.

Annotating datasets with extra dimensions would produce e

[2017-07-10 20:56] larjohn commented on #40
This could be done, but it is a major refactoring for the existing query builder so it might be left as a top priority after the deliverable due on the end of this month.

[2017-07-11 06:20] akariv commented on #52
There was a stuck queue handler yesterday, that's supposed to be fixed now.

[2017-07-11 07:24] liyakun commented on #52
@akariv thanks, it works now.

[2017-07-11 07:24] #52 closed, assigned to nobody

[2017-07-11 07:24] #49 closed, assigned to lavdim, liyakun

[2017-07-12 12:51] skarampatakis commented on #45
I confirm that now I can use the login from local os-packager successfully.

[2017-07-12 13:45] liyakun commented on #45
@skarampatakis thanks.

[2017-07-14 10:04] larjohn commented on #46
@pwalsh we are having a couple of issues with script bundles being cached by Cloudflare and this makes it harder to deploy rapid changes at this phase of development.

Could you temporarily disable caching for apps.openbudgets.eu in Cloudflare?

[2017-07-14 16:03] liyakun commented on #46
@larjohn it seems that the problem has been solved, I will close this issue then.

[2017-07-14 17:44] larjohn commented on #46
This seems to be solved because we moved from `/indigo` to `/`, so we actually requested a new file that was not in the cache anyway.

Eventually the same thing will happen again. Two solutions come in mind. Either @pwalsh (at least temporarily) disables the caching for the domain or @liyakun examines wether we can successfully control cache life using the nginx configuration.

Regarding the latte

[2017-07-15 09:02] pwalsh commented on #46
I turned off cloudflare proxying now.

[2017-07-15 11:50] #46 closed, assigned to badmotor, liyakun, pierorex

[2017-07-21 09:56] marek-dudas commented on #43
The FDPtoRDF pipeline now follows what @skarampatakis [described](https://github.com/openbudgets/platform/issues/43#issuecomment-313725639). The URL of the data dump is now stored in dataset metadata as ```?dataset dcat:accessURL ?dumpUrl```, e.g. ```<http://data.openbudgets.eu/resource/dataset/armenia-sample-test> <http://www.w3.org/ns/dcat#accessURL> <http://apps.openbudgets.eu/dumps/fromfdp/arm

[2017-07-26 08:58] jindrichmynarz opened #53 "RDFBrowser: missing template error when resource is not found"
When an unknown IRI in the <http://data.openbudgets.eu/resource> namespace is dereferenced, such as <http://data.openbudgets.eu/resource/codelist/oc-qsn-functional-class> (from [OpenCoesione's DSD](https://github.com/openbudgets/datasets/blob/master/OpenCoesione/dsd/OC-2007-2013-DSD.ttl)), RDFBrowser shows an error about a missing template:

[code]

[2017-07-26 09:16] jindrichmynarz opened #54 "Why data.openbudgets.eu bans LP-ETL?"
When I request an IRI from data.openbudgets.eu by LP-ETL, I get an HTTP 403 Forbidden error:

[code]

Why is LP-ETL banned by data.openbudgets.eu?

[2017-07-27 06:30] skarampatakis commented on #54
@jindrichmynarz could you tell us what IRI you requested? I suppose it is a resource IRI, served by RDFBrowser, so we could check the logs, however the error message does not belong to RDFBrowser.

Searching a bit I believe it maybe something with some cloudflare setting

https://support.cloudflare.com/hc/en-us/articles/200171806-Error-1010-The-owner-of-this-website-has-banned-your-access-based-on

[2017-07-27 06:34] skarampatakis opened #55 "OS Viewer: IRIs shown in filters list"
I can't recall if this was discussed earlier so forgive me in advance.
It seems that at least for the Budget phase filter, both IRI and label is shown on the OS Viewer.

I believe that IRIs could be only used if a label at any language could not be found.
![image](https://user-images.githubusercontent.com/2419820/28657228-bc87675e-72ae-11e7-8f52-d48c8d54a1c5.png)

[2017-07-27 06:53] skarampatakis commented on #53
Thank you for pointing out. I have fixed the issue on OBEU theme.
@liyakun could you update RDFBrowser and check?

[2017-07-27 07:10] skarampatakis commented on #43
Hi @marek-dudas,
the domain of dcat:accessURL and dcat:downloadURL should be a dcat:Distribution and not the dataset itself.

that means that the triples should be:
[code]

e.g.
[code]

as can be seen here
[dataset.nt.txt](https://github.com/openbudgets/platform/files/1179113/dataset.nt.txt)

[2017-07-27 07:36] jindrichmynarz commented on #54
I requested the <http://data.openbudgets.eu/resource/codelist/kae-ota-esodwn-2014> IRI, but the ban seems  to apply to any IRI served by RDFBrowser.

LP-ETL sends a vanilla User-Agent "Java/1.8.0_131". I already suggested providing a more specific User-Agent string in linkedpipes/etl#449.

[2017-07-27 08:30] skarampatakis commented on #54
I was looking on the server logs and never found such request. That probably means that the request never arrives on the server and it is cut on cloudflare. So it may be related with the issue I mentioned above.

Could you temporaly change the User-Agent request header to something like
[code]

so we can confirm the assumption?

[2017-07-27 08:38] liyakun commented on #53
@skarampatakis RDFBrowser has been updated on the FHG server, it works fine now.

[2017-07-27 08:38] #53 closed, assigned to nobody

[2017-07-27 09:28] marek-dudas commented on #43
Thanks, I apparently misread the documentation, will fix it.

[2017-07-27 09:55] jindrichmynarz commented on #54
I confirmed it with `curl`. Requesting the IRI with the LP-ETL's User-Agent results in the ban:

[code]

While standard `curl` User-Agent works fine:

[code]

[2017-07-27 10:00] jindrichmynarz commented on #54
Also confirmed via the HTTP GET list component in LP-ETL. Spoofing its User-Agent string allows to avoid the ban.

[2017-07-27 10:38] skarampatakis opened #56 "Indigo-Explorer freezes at first load"
Indigo seems to freeze at first load. When visit apps.openbudgets.eu it first shows a progress bar.
After finish the browser becomes unresponsive for some time (~10 secs) and afterwards the datasets are presented.

While scrolling down there seems also to be some freezes. I checked the console and there seems to be some AJAX calls to localhost as can be seen below which ofcourse always fail.

![im

[2017-07-27 10:40] larjohn commented on #56
OS, CPU, RAM?

[2017-07-27 10:55] skarampatakis commented on #56
Ubuntu 16.4.2, i5 3.1Ghz, 8GB RAM, 256GB SSD

[2017-07-27 11:04] skarampatakis opened #57 "Indigo-Explorer: Limit autocomplete"
It seems that autocomplete is searching for datasets from the first character. I think it should be called after the 3rd character entered or likewise.

[2017-07-27 11:13] skarampatakis opened #58 "Indigo-Explorer: Filters on datasets"
It seems to be difficult to search for datasets only by scrolling or searching on the title of the datasets.
Perhaps some filters as per continent, country, year, operation character, author could help.

[2017-07-28 00:36] larjohn opened #59 "Provide docker containers for data mining algorithms"
Now that the data mining algorithms are integrated, wouldn't it be more correct if we started shipping them into containers, so that we don't have to run them on our premises?

[2017-07-30 21:49] larjohn commented on #56
From the picture above, it seems the vector.bundle.js takes too long to download, as it is a few megabytes. The following has been done to alleviate it:

1. Compression (gzip) has been enabled in `nginx ` - should improve the overall speed of the platform
2. The` angular-cli` test server has been abandoned for a separate `nginx` docker image, where the static files are served. These files are buil

[2017-07-30 21:54] larjohn commented on #44
Resolved

[2017-07-30 21:54] #44 closed, assigned to larjohn

[2017-07-31 08:22] liyakun commented on #56
@larjohn The server has been updated.

[2017-07-31 14:13] larjohn commented on #56
@liyakun Thanks!

@skarampatakis can you have a look?

[2017-07-31 18:33] skarampatakis commented on #56
I still get this kind of errors which freeze for some time the app.

![image](https://user-images.githubusercontent.com/2419820/28792260-b23e429a-7637-11e7-8fce-a831236ffa68.png)

It is making continuously a call to localhost.

[2017-07-31 22:01] larjohn commented on #56
This was due to using the developer-oriented ng serve. It should do so now. Have you refreshed the page with CTRL+F5? Even the "vendor.bundle.js" is not the case anymore, it should have some hash in the name.

![image](https://user-images.githubusercontent.com/1288985/28800285-aefb0a56-7654-11e7-89e7-ffbe6643d95a.png)

[2017-08-01 06:40] skarampatakis commented on #56
Now I get these errors
![image](https://user-images.githubusercontent.com/2419820/28812420-59791174-769d-11e7-8d4c-41af3d943042.png)

which again cause the app to freeze from time to time. It is happening on scrolling down the datasets.

[2017-08-01 06:42] skarampatakis commented on #56
And I also get these errors on the console
![image](https://user-images.githubusercontent.com/2419820/28812528-c42b7e3a-769d-11e7-8da5-0040772b2a71.png)

[2017-08-01 06:54] skarampatakis commented on #54
So it is definetely related with [Browser Integrity Check ](https://support.cloudflare.com/hc/en-us/articles/200170086-What-does-the-Browser-Integrity-Check-do-).

Either @pwalsh could turn it off(but I think we should not), either change LP's agent header. I tried to find the headers that Cloudflare would accept with no success. Maybe Paul has some hints.

[2017-08-01 07:05] skarampatakis opened #61 "Microsite and Microsite RDF"
@pierorex What is the difference of these two repositories?

[2017-08-01 07:20] larjohn commented on #56
These are unrelated with this issue. Probably someone restarted the server and indexing didn't work. Does it work now for you @skarampatakis ?

[2017-08-01 07:23] pwalsh commented on #54
@skarampatakis @jindrichmynarz I've removed Cloudflare's proxying now on both app.* and data.* for our domain. I think this is the best approach for this platform, although I agree with @skarampatakis that in general for developing web services, we should not have to disable such a feature.

@jindrichmynarz let me know if it works ok now.

[2017-08-01 07:29] jindrichmynarz commented on #54
@pwalsh: Thanks, LP-ETL can now request data from data.openbudgets.eu. Nevertheless, I think that LP-ETL should provide a specific `User-Agent` (tracked in the linked LP-ETL issue), so that Cloudflare accepts its requests.

[2017-08-01 07:29] #54 closed, assigned to nobody

[2017-08-02 13:53] marek-dudas commented on #43
It should now be corrected, according to the description [above](https://github.com/openbudgets/platform/issues/43#issuecomment-318278714).

[2017-08-08 13:30] pierorex commented on #61
The Microsite RDF project was a first prototype intended to use its own graph vizualization techniques.
It's deprecated now that we're embedding os-viewer in the regular Microsite project.

[2017-08-08 13:30] #61 closed, assigned to nobody

[2017-08-10 09:50] vojir commented on #59
I think it is a good idea.

For example EasyMiner is currently available as set of 3 docker images - installation commands can be found at https://github.com/kizi/easyminer#easyminer-with-r-backend or at EasyMiner website: http://www.easyminer.eu/installation

[2017-08-10 14:52] HimmelStein opened #62 "Bonn datasets are not shown correctly in OBEU Viewer"
datasets: http://apps.openbudgets.eu/viewer/bonn-budget-2019__40559?lang=en
1. percentages of data sections are larger than 100 %
2. there are minus data in Bonn dataset, how are these data processed?
3. The Pie chart view of the dataset consists of only one data section, with some minus value.

[2017-08-15 21:02] larjohn commented on #62
It seems that this happens due to the negative amounts. As negative percentages are meaningless in Mathematics (unless you are talking about a decrease in something), a questionable solution would be to use the absolute value of the amounts.

I don't know if this would be a correct solution, but it is not followed in the original OpenSpending API either:

https://openspending.org/viewer/d8914bfc3c

[2017-08-16 20:07] liyakun commented on #43
@larjohn @marek-dudas  do you have any idea about how to fix this? thanks.

[2017-08-16 22:07] #56 closed, assigned to larjohn

[2017-08-16 22:08] larjohn commented on #43
It should be fixed now - it will be visible in the next refresh.

[2017-08-21 12:28] skarampatakis commented on #43
I tried this dataset http://apps.openbudgets.eu/viewer/aragon-2016-expenditure__9121b?lang=en
Now the download button only redirects to a page where I get the following error
http://datastore.openspending.org//aragon-2016-expenditure__9121b/datapackage.json

[code]
This dataset was generated by a custom pipeline. Is this the root of the problem?

[2017-08-25 10:09] liyakun commented on #59
@larjohn @vojir I think it is a good idea. It would be great if you could specify which software or data mining algorithms to deploy on the FHG server.

[2017-08-29 13:48] HimmelStein opened #63 "descriptive statistics return http 500 at front side"
please use the following link and check http://apps.openbudgets.eu/cube/analytics/bonn-budget-2019__40559/descriptive_statistics/facts?amounts=amount&dimensions=operationCharacter.prefLabel%7CbusinessArea.prefLabel%7Corganization.organization%7CfunctionalClassification.prefLabel%7CbudgetPhase.prefLabel&json_data=http%3A%2F%2Fapps.openbudgets.eu%2Fapi%2F3%2Fcubes%2Fbonn-budget-2019__40559%2Ffacts%3

[2017-08-29 14:01] HimmelStein opened #64 "execution button of Outlier detection LOF is always disabled using Bonn dataset"
Please use the following link and check
http://apps.openbudgets.eu/cube/analytics/bonn-budget-2022__293d8/outlier_detection/LOF_AGGREGATE

[2017-08-29 14:10] HimmelStein opened #65 "Outlier detetion FQR works, but with the same outlier score, dots are too small"
this link was used http://apps.openbudgets.eu/cube/analytics/bonn-budget-2019__40559/outlier_detection/FQR?BABBAGE_FACT_URI=http%3A%2F%2Fapps.openbudgets.eu%2Fapi%2F3%2Fcubes%2Fbonn-budget-2019__40559%2Ffacts%3F&coloringAttribute=businessArea.prefLabel&groupingAttribute=functionalClassification.prefLabel

[2017-08-29 14:17] HimmelStein opened #66 "outlier LOF with time out error"
here is the tested link:
http://apps.openbudgets.eu/cube/analytics/bonn-budget-2019__40559/outlier_detection/LOF_FACTS?BABBAGE_FACT_URI=http%3A%2F%2Fapps.openbudgets.eu%2Fapi%2F3%2Fcubes%2Fbonn-budget-2019__40559%2Ffacts%3F&coloringAttribute=organization.organization&groupingAttribute=operationCharacter.prefLabel

Error: We are sorry, the analysis process did not finish in timely manner

[2017-08-29 14:25] HimmelStein commented on #66
Rule-mining has the same error. tested link:
http://apps.openbudgets.eu/cube/analytics/bonn-budget-2019__40559/rule_mining/facts?BABBAGE_FACT_URI=http%3A%2F%2Fapps.openbudgets.eu%2Fapi%2F3%2Fcubes%2Fbonn-budget-2019__40559%2Ffacts%3F&antecedentColumns=operationCharacter.prefLabel%7CbusinessArea.prefLabel&consequentColumns=organization.organization%7CfunctionalClassification.prefLabel&minConfidence

[2017-08-29 14:36] HimmelStein opened #67 "When user selects an insutiable data-mining service for a selected data, ..."
When a user selects an unsuitable data-mining service for a selected data, what will the system inform the user? e.g. change the back ground color to red?

tested link: http://apps.openbudgets.eu/cube/analytics/eu_allocations_per_ms_2014_2020__bc728/clustering/facts

[2017-08-29 15:57] liyakun commented on #63
![error](https://user-images.githubusercontent.com/7370334/29830762-69b26bec-8ce3-11e7-9d09-603233360cff.png)
I attached one screenshot about where the error happens.

[2017-08-29 18:05] jaroslav-kuchar commented on #65
For the frequent pattern based outlier detection algorithm (FQR?) - it is important to properly set the parameters. If it is possible try to decrease the minimum support parameter. I am not sure if it is possible to change any parameter in the UI.

[2017-08-29 20:32] HimmelStein commented on #65
@jaroslav-kuchar can you click the above link, and see the result? meanwhile, try to choose a Bonn dataset, select parameters on the left side, and see the visualization result on the right side.

[2017-08-30 20:07] jaroslav-kuchar commented on #65
When I click on the link above, I can only see the following message - "Error: We are sorry, the analysis process did not finish in timely manner".
I also tried to start the analysis from scratch but I do not see any possibility to change any parameter.

[2017-08-30 20:09] HimmelStein commented on #65
the error of timing also happens to other data mining tools, like LOF

[2017-08-31 10:42] marek-dudas opened #68 "os-packager showing status of transformation to RDF does not work"
The status check of the FDPtoRDF pipeline in http://apps.openbudgets.eu/packager seems not working. When tested in Chrome, it keeps getting the following error:
[code]
Why is it dealing with crossorigin anyway? Both the packager and the linkedpipes are on the same domain.
The dataset is transformed and available in viewer, so those parts work.

@pierorex or whoever is available, could you look int

[2017-08-31 12:41] pierorex commented on #68
I was getting CORS errors when coding that part because the linkedpipes app was not in my machine, the crossorigin proxy allowed me to get through that issue back then and I forgot to remove it.
It was working well until now because it didn't do anything to block the request, but now crossorigin.me is down and that's why we're getting the error.
I will look into that now and see make it work, than

[2017-08-31 15:08] pierorex commented on #68
Solved with https://github.com/openbudgets/os-packager/commit/3ba767362ff4681ca264406f64180e46239cb452

[2017-08-31 15:08] #68 closed, assigned to nobody

[2017-09-02 14:30] larjohn commented on #43
This can be seen here:

http://data.openbudgets.eu/page/dataset/aragon-2016-expenditure/distribution

[2017-09-02 14:33] larjohn commented on #55
Maybe it is key-label, and as long as no key (notation) is available for budget phase, the URI is used. I preferred the URI instead of repeating the labels to avoid the case where two different terms would have the same label, while being descendants of different parents.

[2017-09-03 16:33] larjohn commented on #67
This was originally intended as a functionality included in DAM. That is why I had requested the available algorithms to be under the dataset and not general ones. In that case, the available algorithms visible to indigo would only be the applicable ones.

[2017-09-03 16:59] larjohn commented on #66
I am not sure I can do anything about this myself. Are the following parameters correct?

[code]

[2017-09-03 17:10] larjohn commented on #64
Please use the short hint on top of parameters to build your request.
Working (not necessarily pretty) example:

https://apps.openbudgets.eu/cube/analytics/bonn-budget-2022__293d8/outlier_detection/LOF_AGGREGATE?BABBAGE_AGGREGATE_URI=https%3A%2F%2Fapps.openbudgets.eu%2Fapi%2F3%2Fcubes%2Fbonn-budget-2022__293d8%2Faggregate%3Fdrilldown%3DeconomicClassification.prefLabel%257CprofitCenter.prefLabel%26

[2017-09-03 17:10] #64 closed, assigned to larjohn, wk0206, hantongliu, liyakun

[2017-09-03 17:27] larjohn commented on #65
The timeout issue is related to the length of the dataset. Most probably, the datamining algorithms are not fed correctly, or they take to much time to finish the task.
This happened recently because I removed the pagesize=30 default value, which meant that only 30 lines of data would be fed to the algorithms. Now, all data lines are sent, by default, At this moment, probably the indigo version is

[2017-09-14 15:14] skarampatakis commented on #63
found this on the logs
[code]

[2017-09-17 19:13] larjohn commented on #63
It seems that parseJSON times out:

EasyRdf_Sparql_Result->parseJson() in Result.php line 71

A solution would be to paginate results, as this dataset is HUGE.

![image](https://user-images.githubusercontent.com/1288985/30524036-a409e390-9bf4-11e7-9059-4529139d28a9.png)

[2017-09-17 19:20] larjohn commented on #67
See https://github.com/openbudgets/DAM/issues/13

[2017-09-17 19:20] #67 closed, assigned to larjohn

[2017-09-19 12:30] HimmelStein commented on #63
thanks, we will try to use pagination

[2017-09-19 17:08] skarampatakis opened #69 "Loading time issues"
I got this today.

![image](https://user-images.githubusercontent.com/2419820/30605244-095f38bc-9d76-11e7-94d4-6d0b61baff06.png)

Browser was responsive again after hardly 3-4 minutes.
I think that the number of datasets shown should be reduced.

[2017-09-20 12:11] wk0206 commented on #63
@larjohn @HimmelStein I read the log, seems it is the mining server in Greece or Ruldorf out of memory, I am not sure what our side can do with it, as you know, DAM only deliver a Ruldorf link , or a link of JSON file. So from my point of view, DAM can not paginate the input data(because it is a link from Ruldorf). If it is the case the output data is too big, then maybe DAM can do some pagination

[2017-09-20 12:28] skarampatakis commented on #63
@wk0206 Have you managed to make DAM work with the OpenCPU docker container?

[2017-09-20 12:30] HimmelStein commented on #63
@skarampatakis @liyakun Yakun made a docker container for OpenCPU https://github.com/openbudgets/integration/tree/master/docker-config

[2017-09-20 12:32] liyakun commented on #63
@skarampatakis yes, DAM now works with OpenCPU deployed on FHG server.

[2017-09-20 12:39] skarampatakis commented on #63
On the php.ini for rudolf the memory limit is defined to 128M. Please change this to -1 and test again

[2017-09-20 12:55] liyakun commented on #63
update on fhg server from 128M to -1.

[2017-09-20 13:00] wk0206 commented on #63
The link is working now @HimmelStein
One more thing is , indigo seems not stop running after the result is on the screen.
![indigo](https://user-images.githubusercontent.com/5684265/30645243-5de8ade2-9e15-11e7-9fb9-c80d28908c56.png)

[2017-09-20 13:02] skarampatakis commented on #63
Reduce the limit to 1G or 2G.

[2017-09-20 14:07] liyakun commented on #63
reduced to 2G.

[2017-09-20 14:08] liyakun commented on #63
@wk0206 I was updating the server, Indigo should work normally now.

[2017-09-28 10:10] skarampatakis opened #70 "OS-Viewer Theme"
Checked today and the theme seems a bit strange.

![image](https://user-images.githubusercontent.com/2419820/30961265-4ad9aeec-a44e-11e7-8174-73cf3b854fe9.png)

Is this a cache problem or CSS?

[2017-09-28 11:17] kleanthisk10 opened #71 "Request URL 404 Not Found"
When i tried to perform descriptive statistics in a dataset on platform, provided in [this link](http://apps.openbudgets.eu/cube/analytics/budget-athens-expenditure-2010__6a8b3/descriptive_statistics/facts?amounts=amount&dimensions=budgetPhase.prefLabel%7CfunctionalClassification.prefLabel%7CadministrativeClassification.prefLabel&json_data=http%3A%2F%2Fapps.openbudgets.eu%2Fapi%2F3%2Fcubes%2Fbudge

[2017-09-29 13:33] skarampatakis commented on #71
I think this is fixed now. Can you check?

[2017-09-29 13:35] skarampatakis commented on #70
Fixed by https://github.com/openbudgets/integration/commit/512c50f5ffacaf86f539f7c10b0b99ae63e9339e

[2017-09-29 13:35] #70 closed, assigned to nobody

[2017-09-29 13:35] skarampatakis commented on #63
Can we close this?

[2017-09-29 13:37] skarampatakis commented on #59
@larjohn @liyakun @vojir opencpu has been integranted and deployed on FHG.

[2017-09-29 13:42] #71 closed, assigned to nobody

[2017-09-29 17:06] #63 closed, assigned to larjohn, wk0206, hantongliu, liyakun

[2017-11-16 17:00] larjohn commented on #69
The most recent version of Firefox (codenamed "Quantum") seems to load Indigo in reasonable time.

[2017-11-16 17:00] #69 closed, assigned to larjohn